@page "/Create"
@attribute [Authorize]
@inject ICategoryData categoryData
@inject IConversationData conversationData
@inject IUserData userData
@inject IBanData banData
@inject IConfiguration config
@inject IOidGenerator oidGenerator
@inject NavigationManager navManager
@inject ProtectedSessionStorage sessionStorage
@inject AuthenticationStateProvider authProvider

@if (ban is null)
{
    <h1 class="page-heading mb-4">Make A Conversation</h1>

    <div class="row">
        <div class="col-xl-12 col-lg-10 p-2 bg-dark border border-white rounded">
            <EditForm Model="conversation" OnValidSubmit="(async() => await CreateConversation())">
                <DataAnnotationsValidator />
                <div class="row">
                    <div class="close-button-section mb-2">
                        <button class="btn btn-close btn-close-white" type="button" @onclick="ClosePage" />
                    </div>
                    <div class="col-2">
                        <div class="participants-list p-2">
                            <h3 class="fw-bold text-uppercase">Friends</h3>
                            <label class="form-label">
                                <p class="mb-0">You can add your friends to the conversation by clicking on their name.</p>
                            </label>
                            <input type="text" placeholder="Search"
                                aria-label="Search" class="form-control bg-dark text-white mb-2 input-section"
                                @oninput="((txt) => OnSearchInput((string)txt.Value))"/>
                            <ul class="list-group">
                                @if (friends is not null)
                                {
                                    <Virtualize Items="friends" Context="f" OverscanCount="10">
                                        @if (selectedFriend is null || selectedFriend.Id != f.Id)
                                        {
                                            <li class="list-group-item bg-secondary text-white clickable mb-2" 
                                                @onclick="(() => selectedFriend = f)">
                                                <span class="oi oi-person me-1"></span>
                                                @f.DisplayName
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="list-group-item bg-black text-white clickable mb-2"><span class="oi oi-person me-1"></span>@f.DisplayName</li>
                                            <div class="btn-group">
                                                <button class="btn btn-outline-success me-2" type="button" 
                                                    @onclick="(() => AddParticipant(f))">
                                                    Add
                                                </button>
                                                <button class="btn btn-outline-danger" type="button" 
                                                    @onclick="(() => selectedFriend = null)">
                                                    Cancel
                                                </button>
                                            </div>
                                        }
                                    </Virtualize>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="col-8">  
                        @if (categories is not null)
                        {  
                            <div class="mb-3">
                                <label class="form-label fw-bold text-uppercase" for="conversation-group-name">Group Name</label>
                                <div class="mt-1">Name your group name. Its name will represent the group name.</div>
                                <ValidationMessage For="(() => conversation.GroupName)" />
                                <InputText class="form-control bg-dark text-white input-section" id="conversation-group-name" @bind-Value="conversation.GroupName"/>
                            </div>
                            <div class="mb-3">
                                <label class="form-label fw-bold text-uppercase" for="conversation-icon">Icon</label>
                                <div class="mt-1">Select an image for your conversation. This is not required.</div>
                                <ValidationMessage For="(() => conversation.PictureName)"/>
                                <InputFile OnChange="LoadFiles"
                                    class="form-control bg-dark text-light input-section"
                                    accept=".png,.jpg,.jpeg"/>
                            </div>
                            <div class="mb-3">
                                <label class="form-label fw-bold text-uppercase" for="category">Category</label>
                                <ValidationMessage For="(() => conversation.CategoryId)" />
                                <div class="mt-1">Choose a category that suits your conversation.</div>
                                <InputRadioGroup id="category" @bind-Value="conversation.CategoryId">
                                    <Virtualize Items="categories" Context="c" OverscanCount="10">
                                        <div class="radio-item-group">
                                            <InputRadio Value="@c.Id" id="@c.Id"/>
                                            <label for="@c.Id">@c.CategoryName - @c.CategoryDescription</label>
                                        </div>
                                    </Virtualize>
                                </InputRadioGroup>
                            </div>
                            <div class="center-children">
                                <button class="btn btn-secondary btn-lg text-uppercase mt-4" type="submit">
                                    Create Conversation
                                </button>
                            </div>
                        }  
                    </div>
                    <div class="col-2">
                       <div class="participants-list p-2">
                            <h3 class="fw-bold text-uppercase">Participants</h3>
                            <label class="form-label">
                                <p class="mb-0">These are members that will be automatically added.</p>
                                @if (string.IsNullOrWhiteSpace(errorMessage) is false)
                                {
                                    <p class="text-danger mb-0">@errorMessage</p>
                                }
                            </label>
                            <input type="text" placeholder="Search"
                                aria-label="Search" class="form-control bg-dark text-white mb-2 input-section"
                                @oninput="((txt) => OnSearchInput((string)txt.Value))"/>
                            <ul class="list-group">
                                <Virtualize Items="conversation.Participants" Context="f" OverscanCount="10">
                                    @if (selectedFriend is null || selectedFriend.Id != f.Id)
                                    {
                                        <li class="list-group-item bg-secondary text-white mb-2 clickable" 
                                            @onclick="(() => selectedFriend = f)">
                                            <span class="oi oi-person me-1"></span>
                                            @f.DisplayName
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="list-group-item bg-black text-white clickable mb-2">
                                            <span class="oi oi-person me-1"></span>
                                            @f.DisplayName
                                        </li>
                                        <div class="btn-group">
                                            <button class="btn btn-outline-success me-2" type="button" 
                                                @onclick="(() => RemoveParticipant(f))">
                                                Remove
                                            </button>
                                            <button class="btn btn-outline-danger" type="button" 
                                                @onclick="(() => selectedFriend = null)">
                                                Cancel
                                            </button>
                                        </div>
                                    }
                                </Virtualize>
                            </ul>
                        </div>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
}
else
{
    <Banned />
}


