@page "/BanAppeals"
@attribute [Authorize(Policy = "Admin")]
@inject IUserData userData
@inject IBanAppealData appealData
@inject AuthenticationStateProvider authProvider
@inject NavigationManager navManager
@inject ProtectedSessionStorage sessionStorage

<h1 class="page-heading mb-4">Ban Appeals</h1>

<div class="row">
    <div class="text-uppercase fw-bold">@appeals?.Count Ban Appeals</div>
    <div class="col-md-8 col-xl-12 btn-group">
        <button class="btn text-uppercase fw-bold me-2 @SortedByNewClass(true)" 
            @onclick="(async() => await OrderByNew(true))">
            New
        </button>
        <button class="btn text-uppercase fw-bold @SortedByNewClass(false)" 
            @onclick="(async() => await OrderByNew(false))">
            Old
        </button>
    </div>
</div>
<div class="row">
    <div class="mt-2 col-md-8 col-xl-12 btn-group">
        <button class="btn text-uppercase fw-bold w-50 me-2 @FilterByApprovedClass(false)" 
            @onclick="(async() => await FilterByApprovedClick(false))">
            Pending
        </button>
        <button class="btn text-uppercase fw-bold w-50 @FilterByApprovedClass(true)" 
            @onclick="(async() => await FilterByApprovedClick(true))">
            Approved
        </button>
    </div>
</div>

<div class="row mt-2">
    <div class="col-md-12 col-xl-12">
        <input type="text" placeholder="Search"
            aria-label="Search Box" class="form-control bg-dark text-light input-section"
            @oninput="(async(txt) => await OnAppealSearchInput((string)txt.Value))"/>
    </div>
    <div class="col-12 d-block d-md-none">
        @if (users is not null && showUsernames)
        {
            <div class="participants-list p-2">
                <h3 class="fw-bold text-uppercase">Users</h3>
                <input class="form-control bg-dark text-light input-section mb-2"
                        type="text" aria-label="Search User Box" placeholder="Search username"
                        @oninput="((txt) => OnUserSearchInput((string)txt.Value))"/>
                <ul class="list-group">
                    <li class="list-group-item @SelectedUsernameClass() text-white mb-2 clickable" 
                        @onclick="(() => OnUsernameClick())">
                        <span class="oi oi-person me-1"></span>
                        All
                    </li>
                    <Virtualize Items="users" Context="u" OverscanCount="10">
                        <li class="list-group-item @SelectedUsernameClass(u.DisplayName) text-white mb-2 clickable" 
                        @onclick="(() => OnUsernameClick(u.DisplayName))">
                            <span class="oi oi-person me-1"></span>
                            @u.DisplayName
                        </li>
                    </Virtualize>
                </ul>
            </div>
        }
        else
        {
            <div class="participants-list p-2">
                <h3 class="fw-bold text-uppercase">Users</h3>
                <ul class="list-group">
                    @if (users is not null)
                    {
                        <li class="list-group-item @SelectedUsernameClass(selectedUsername) text-white mb-2 clickable" 
                        @onclick="(() => showUsernames = true)">
                            <span class="oi oi-person me-1"></span>
                            @selectedUsername
                        </li>
                    }
                </ul>
            </div>
        }
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-9 col-xl-10">
        @if (appeals is not null)
        {
            <Virtualize Items="appeals" Context="a" OverscanCount="10">
                <DisplayImgComponent @key="a.Id" 
                    ImageSource="@a.AppealingUser.FileName" 
                    IsClickable="true"
                    OpenDetails="(() => OpenDetails(a))">
                    <ChildContent>
                        <h5 class="card-title h4">@a.AppealingUser.DisplayName</h5>
                        <div class="card-text text-danger h4">
                            Status: @((a.IsApproved ? $"Approved" : "Pending"))
                        </div>
                        @if (a.ApprovedAdmin is not null)
                        {
                            <div class="card-text">
                                Disapproved By: @a.ApprovedAdmin.DisplayName on @a.ApprovedAt.ToString("dd/MM/yyyy HH:mm")
                            </div>
                        }
                        @if (a.DisapprovedAdmin is not null)
                        {
                            <div class="card-text">
                                Disapproved By: @a.DisapprovedAdmin.DisplayName on @a.DisapprovedAt.ToString("dd/MM/yyyy HH:mm")
                            </div>
                        }
                        <div class="card-text">
                            Date Created: @a.SubmittedAt.ToString("dd/MM/yyyy")
                        </div>
                    </ChildContent>
                </DisplayImgComponent>
            </Virtualize>
        }
    </div>
    <div class="col-md-3 col-xl-2 d-none d-md-block">
        @if (users is not null)
        {
            <div class="participants-list p-2">
                <h3 class="fw-bold text-uppercase">Users</h3>
                <input class="form-control bg-dark text-light input-section mb-2"
                        type="text" aria-label="Search User Box" placeholder="Search username"
                        @oninput="((txt) => OnUserSearchInput((string)txt.Value))"/>
                <ul class="list-group">
                    <li class="list-group-item @SelectedUsernameClass() text-white mb-2 clickable" 
                        @onclick="(() => OnUsernameClick())">
                        <span class="oi oi-person me-1"></span>
                        All
                    </li>
                    <Virtualize Items="users" Context="u" OverscanCount="10">
                        <li class="list-group-item @SelectedUsernameClass(u.DisplayName) text-white mb-2 clickable" 
                        @onclick="(() => OnUsernameClick(u.DisplayName))">
                            <span class="oi oi-person me-1"></span>
                            @u.DisplayName
                        </li>
                    </Virtualize>
                </ul>
            </div>
        }
    </div>
</div>


