@page "/CreateServer"
@attribute [Authorize]
@inject IServerData serverData
@inject ICategoryData categoryData
@inject IChannelCategoryData channelCategoryData
@inject IChannelData channelData
@inject IUserData userData
@inject IBanData banData
@inject IRoleData roleData
@inject IOidGenerator oidGenerator
@inject IConfiguration config
@inject NavigationManager navManager
@inject AuthenticationStateProvider authProvider

@if (ban is null)
{
    <h1 class="text-center text-uppercase fw-bold mb-4">Make A Server</h1>

    <div class="row">
        <div class="col-xl-12 col-lg-10 p-3 bg-dark border border-white rounded">
            <EditForm Model="server" OnValidSubmit="(async() => await Create())">
                <DataAnnotationsValidator />
                <div class="row">
                    <div class="close-button-section">
                        <button class="btn btn-close btn-close-white" @onclick="ClosePage"/>
                    </div>
                    <div class="col-12">
                        <div class="mb-3">
                            <label class="form-label fw-bold text-uppercase" for="server-name">Server Name</label>
                            <div class="mt-1">Name your server name. Its name will represent the server name.</div>
                            <ValidationMessage For="(() => server.ServerName)"/>
                            <InputText class="form-control bg-dark text-white input-section" id="server-name" 
                                @bind-Value="server.ServerName"/>
                        </div>
                        <div class="mb-3">
                            <label class="form-label fw-bold text-uppercase" for="server-icon">Server Icon</label>
                            <div class="mt-1">Select an image for your server. This is not required.</div>
                            <ValidationMessage For="(() => server.PictureName)"/>
                            <InputFile OnChange="LoadFiles"
                                class="form-control bg-dark text-light input-section"
                                accept=".png,.jpg,.jpeg"/>
                        </div>
                        <div class="mb-3">
                            <label class="form-label fw-bold text-uppercase" for="category">Category</label>
                            <ValidationMessage For="(() => server.CategoryId)" />
                            <div class="mt-1">Choose a category that suits your server's brand.</div>
                            <InputRadioGroup id="category" @bind-Value="server.CategoryId">
                                @if (categories is not null)
                                {
                                    <Virtualize Items="categories" Context="c" OverscanCount="10">
                                        <div class="radio-item-group">
                                            <InputRadio Value="@c.Id" id="@c.Id"/>
                                            <label for="@c.Id">@c.CategoryName - @c.CategoryDescription</label>
                                        </div>
                                    </Virtualize>
                                }
                            </InputRadioGroup>
                        </div>
                        <div class="mb-3">
                            <label class="form-label fw-bold text-uppercase" for="server-description">Description</label>
                            <div class="mt-1">
                                Describe your server's purpose, which type of people would want to join it, etc...
                            </div>
                            <ValidationMessage For="(() => server.ServerDescription)"/>
                            <InputTextArea class="form-control bg-dark text-white input-section" id="server-description" @bind-Value="server.ServerDescription"/>
                        </div>
                        <div class="center-children">
                            <button class="btn btn-secondary btn-lg text-uppercase mt-4" type="submit">
                                Create Server
                            </button>
                        </div>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
}
else
{
    <Banned />
}


