@page "/Servers"
@attribute [Authorize]
@inject AuthenticationStateProvider authProvider
@inject IServerData serverData
@inject ICategoryData categoryData
@inject IUserData userData
@inject IBanData banData
@inject IOidGenerator oidGenerator
@inject IPrivateConversationData privateConversationData
@inject IConfiguration config
@inject NavigationManager navManager
@inject ProtectedSessionStorage sessionStorage

@if (ban is null)
{
    <h1 class="page-heading mb-4">Explore Servers!</h1>

    <div class="text-center">
        <button class="btn btn-outline-secondary btn-lg text-uppercase" @onclick="LoadCreatePage">
            Create A Server
        </button>
    </div>
    <div class="row">
        <div class="text-uppercase fw-bold">@servers?.Count servers</div>
        <div class="col-md-8 col-xl-12 btn-group">
            <button class="btn text-uppercase fw-bold me-2 @SortedByNewClass(true)" 
                @onclick="(async() => await OrderByNew(true))">
                New
            </button>
            <button class="btn text-uppercase fw-bold @SortedByNewClass(false)" 
                @onclick="(async() => await OrderByNew(false))">
                Popular
            </button>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-12 col-xl-12">
            <input type="text" placeholder="Search" 
                aria-label="Search Box" class="form-control bg-dark text-light input-section"
                @oninput="(async(txt) => await OnSearchInput((string)txt.Value))"/>
        </div>
        <div class="col-12 d-block d-md-none mt-2">
            @if (categories is not null && showCategories)
            {
                <div class="participants-list p-2">
                    <h3 class="fw-bold text-uppercase">Categories</h3>
                    <ul class="list-group">
                        <li class="list-group-item @SelectedCategoryClass() bg-secondary text-white mb-2 clickable" 
                            @onclick="(async() => await OnCategoryClick())">
                            <span class="clickable">
                                <span class="oi @SelectedCategoryIcon() mx-1"></span>
                                <span>All</span>
                            </span>
                        </li>
                        <Virtualize Items="categories" Context="c" OverscanCount="10">
                            <li class="list-group-item @SelectedCategoryClass(c.CategoryName) bg-secondary text-white mb-2 clickable" 
                                @onclick="(async() => await OnCategoryClick(c.CategoryName))">
                                <span class="clickable">
                                    <span class="oi @SelectedCategoryIcon(c.CategoryName) mx-1"></span>
                                    <span>@c.CategoryName</span>
                                </span>
                            </li>
                        </Virtualize>
                    </ul>
                </div>
            }
            else
            {
                <div class="participants-list p-2">
                    <h3 class="fw-bold text-uppercase">Categories</h3>
                    <ul class="list-group">
                        <li class="list-group-item @SelectedCategoryClass(selectedCategory) bg-secondary text-white mb-2 clickable" 
                            @onclick="(() => showCategories = true)">
                            <span class="clickable">
                                <span class="oi @SelectedCategoryIcon(selectedCategory) mx-1"></span>
                                <span>@selectedCategory</span>
                            </span>
                        </li>
                    </ul>
                </div>
            }
        </div>
         <div class="col-12 d-block d-md-none mt-2">
            @if (loggedInUser?.Friends is not null && showFriends)
            {
                <div class="participants-list p-2">
                    <h3 class="fw-bold text-uppercase">Friends</h3>
                    <hr />
                    <button class="btn btn-outline-secondary w-100 mb-2" 
                        @onclick="(() => showFriends = false)">
                        Close
                    </button>
                    <ul class="list-group">
                        @if (loggedInUser.Friends.Count > 0)
                        {
                            <Virtualize Items="loggedInUser.Friends" Context="f" OverscanCount="10">
                                <li class="list-group-item bg-secondary text-white mb-2 clickable" 
                                    @onclick="(async() => await OpenPrivateConversation(f))">
                                    <span class="clickable">
                                        <span class="oi oi-person mx-1"></span>
                                        <span>@f.DisplayName</span>
                                    </span>
                                </li>
                            </Virtualize>
                        }
                        else
                        {
                            <span class="mb-2 text-center" 
                                @onclick="LoadUsersPage">
                                <button class="btn btn-secondary w-100">
                                    Look for users
                                </button>
                            </span>
                        }
                    </ul>
                </div>
            }
            else
            {
                <div class="participants-list p-2">
                    <h3 class="fw-bold text-uppercase">Friends</h3>
                    <ul class="list-group">
                        <li class="list-group-item bg-secondary text-white mb-2 clickable" 
                            @onclick="(() => showFriends = true)">
                            <span class="clickable">
                                <span class="oi oi-person mx-1"></span>
                                <span>Open Friends</span>
                            </span>
                        </li>
                    </ul>
                </div>
            }
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-sm-4 col-md-3 col-xl-2 d-none d-md-block border-white">
            @if (loggedInUser is not null)
            {
                <div class="participants-list p-2">
                    <h3 class="fw-bold text-uppercase">Friends</h3>
                    <hr />
                    <ul class="list-group">
                        @if (loggedInUser.Friends.Count > 0)
                        {
                            <Virtualize Items="loggedInUser.Friends" Context="f" OverscanCount="10">
                                <li class="list-group-item bg-secondary text-white mb-2 clickable" 
                                    @onclick="(async() => await OpenPrivateConversation(f))">
                                    <span class="clickable">
                                        <span class="oi oi-person mx-1"></span>
                                        <span>@f.DisplayName</span>
                                    </span>
                                </li>
                            </Virtualize>
                        }
                        else
                        {
                            <span class="mb-2 text-center" 
                                @onclick="LoadUsersPage">
                                <button class="btn btn-secondary w-100">
                                    Look for users
                                </button>
                            </span>
                        }
                    </ul>
                </div>
            }
        </div>
        <div class="col-md-4 col-md-6 col-xl-8">
            <div class="row mb-4">
                @if (servers is not null && loggedInUser is not null)
                {
                    <Virtualize Items="servers" Context="s" OverscanCount="10">
                        <ServerComponent @key="s.Id" Server="s" LoggedInUser="loggedInUser"/>
                    </Virtualize>
                }
                else
                {
                    <div class="text-center mt-5">
                        <div class="spinner-border text-secondary" role="status">
                          <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-md-3 col-xl-2 d-none d-md-block">
            @if (categories is not null)
            {
                <div class="participants-list p-2">
                    <h3 class="fw-bold text-uppercase">Categories</h3>
                    <hr />
                    <ul class="list-group">
                        <li class="list-group-item @SelectedCategoryClass() bg-secondary text-white mb-2 clickable" 
                            @onclick="(async() => await OnCategoryClick())">
                            <span class="clickable">
                                <span class="oi oi-book mx-1"></span>
                                <span>All</span>
                            </span>
                        </li>
                        <Virtualize Items="categories" Context="c" OverscanCount="10">
                            <li class="list-group-item @SelectedCategoryClass(c.CategoryName) bg-secondary text-white mb-2 clickable" 
                                @onclick="(async() => await OnCategoryClick(c.CategoryName))">
                                <span class="clickable">
                                    <span class="oi @SelectedCategoryIcon(c.CategoryName) mx-1"></span>
                                    <span>@c.CategoryName</span>
                                </span>
                            </li>
                        </Virtualize>
                    </ul>
                </div>
            }
        </div>
    </div>

}
else
{
    <Banned />
}


