@page "/ServerSettings/{Id}"
@using Microsoft.JSInterop
@attribute [Authorize]
@inject IServerData serverData
@inject IUserData userData
@inject ICategoryData categoryData
@inject IChannelData channelData
@inject IBanData banData
@inject IConfiguration config
@inject ICodeGenerator codeGenerator
@inject NavigationManager navManager
@inject AuthenticationStateProvider authProvider
@inject ProtectedSessionStorage sessionStorage

@if (ban is null)
{
  <h1 class="text-uppercase text-center fw-bold mb-4">@server?.ServerName Settings</h1>

  @if (loggedInUser?.Id != server?.Owner.Id)
  {
    <NotAuthorized />
  }
  else
  {
    <div class="modal fade" id="userModalCenter" tabindex="-1" role="dialog" aria-labelledby="userModalCenterCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dark" role="document"> 
        <div class="modal-content bg-dark text-white"> 
            <div class="modal-header">
                <h5 class="modal-title" id="userModallLongTitle">
                    @GetModalTitleString()
                </h5>
                <button type="button" class="btn-close btn-close-white text-white" data-dismiss="modal" aria-label="Close" />
                </div>
                <div class="modal-body">
                    Are you sure you want to commit these actions?
                </div>
                <div class="modal-footer">
                <button type="button" 
                    class="btn btn-secondary" 
                    data-dismiss="modal" 
                    @onclick="ClearSelectedUsers">
                    Close
                </button>
                @if (selectedUserToBan is not null)
                {
                    <button type="button" 
                        class="btn btn-primary" 
                        data-dismiss="modal" 
                        @onclick="(async() => await BanMember(selectedUserToBan))">
                        Ban Member
                    </button> 
                }
                else if (selectedUserToKick is not null)
                {
                    <button type="button" 
                        class="btn btn-primary" 
                        data-dismiss="modal" 
                        @onclick="(async() => await BanMember(selectedUserToKick))">
                        Kick Member
                    </button>
                }
                else
                {
                    <button type="button" 
                        class="btn btn-primary" 
                        data-dismiss="modal" 
                        @onclick="(async() => await UnbanMember(selectedUserToUnban))">
                        Unban Member
                    </button>
                }
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="channelModal" tabindex="-1" role="dialog" aria-labelledby="channelModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dark" role="document"> 
        <div class="modal-content bg-dark text-white"> 
            <div class="modal-header">
                <h5 class="modal-title" id="channelModalLongTitle">
                    Edit @selectedChannel?.ChannelName
                </h5>
                <button type="button" class="btn-close btn-close-white text-white" data-dismiss="modal" aria-label="Close" />
                </div>
                <div class="modal-body">
                    <EditForm Model="channel" OnValidSubmit="(async() => await UpdateChannel())">
                        <DataAnnotationsValidator />
                        <div class="row">
                            <div class="mb-3">
                                <label class="form-label fw-bold text-uppercase" for="channel-name">Channel Name</label>
                                <div class="mt-1">Edit your channel's name</div>
                                <ValidationMessage For="(() => channel.ChannelName)"/>
                                <InputText class="form-control bg-dark text-white input-section border-warning" id="channel-name" 
                                    @bind-Value="channel.ChannelName"/>
                            </div>
                            <div class="mb-3">
                                <label class="form-label fw-bold text-uppercase" for="channel-description">Channel Description</label>
                                <div class="mt-1">Edit your channel's purpose. What kind of discussion is it related to?</div>
                                <ValidationMessage For="(() => channel.ChannelDescription)"/>
                                <InputTextArea class="form-control bg-dark text-white input-section border-warning" id="channel-description"
                                    @bind-Value="channel.ChannelDescription"/>
                            </div>
                            <div class="center-children">
                                <button class="btn btn-outline-warning btn-lg text-uppercase mt-4" type="submit" data-dismiss="modal" @onclick="UpdateChannel">
                                    Update
                                </button>
                            </div>
                        </div>
                    </EditForm>
                </div>
                <div class="modal-footer">
                <button type="button" 
                    class="btn btn-secondary" 
                    data-dismiss="modal" 
                    @onclick="(() => selectedChannel = null)">
                    Close
                </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="serverModal" tabindex="-1" role="dialog" aria-labelledby="serverModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dark" role="document"> 
        <div class="modal-content bg-dark text-white"> 
            <div class="modal-header">
                <h5 class="modal-title" id="serverModalLongTitle">
                    Edit @selectedChannel?.ChannelName
                </h5>
                <button type="button" class="btn-close btn-close-white text-white" data-dismiss="modal" aria-label="Close" />
                </div>
                <div class="modal-body">
                    <EditForm Model="editingServer" OnValidSubmit="(async() => await UpdateServer())">
                        <DataAnnotationsValidator />
                        <div class="row">
                            <div class="mb-3">
                                <label class="form-label fw-bold text-uppercase" for="server-name">Server Name</label>
                                <div class="mt-1">Edit your server's name</div>
                                <ValidationMessage For="(() => editingServer.ServerName)"/>
                                <InputText class="form-control bg-dark text-white input-section border-warning" id="server-name" 
                                    @bind-Value="editingServer.ServerName"/>
                            </div>
                            <div class="mb-3">
                                <label class="form-label fw-bold text-uppercase" for="server-description">Server Description</label>
                                <div class="mt-1">Describe your channel's purpose. What kind of discussion is it related to?</div>
                                <ValidationMessage For="(() => editingServer.ServerDescription)"/>
                                <InputTextArea class="form-control bg-dark text-white input-section border-warning" id="server-description"
                                    @bind-Value="editingServer.ServerDescription"/>
                            </div>
                            <div class="mb-3">
                                <label class="form-label fw-bold text-uppercase" for="server-icon">Server Icon</label>
                                <div class="mt-1">Select an image for your server. This is not required.</div>
                                <ValidationMessage For="(() => editingServer.PictureName)"/>
                                <InputFile OnChange="LoadFiles"
                                    class="form-control bg-dark text-light input-section border-warning"
                                    accept=".png,.jpg,.jpeg"/>
                            </div>
                            <div class="center-children">
                                <button class="btn btn-outline-warning btn-lg text-uppercase mt-4" type="submit" data-dismiss="modal" @onclick="UpdateServer">
                                    Update
                                </button>
                            </div>
                        </div>
                    </EditForm>
                </div>
                <div class="modal-footer">
                <button type="button" 
                    class="btn btn-secondary" 
                    data-dismiss="modal" 
                    @onclick="(() => selectedChannel = null)">
                    Close
                </button>
                </div>
            </div>
        </div>
    </div>

      @if (server is not null)
      {
        <div class="rounded rounded-3">
          <div class="card-body">
            <div class="row justify-content-center">
              <div class="col-lg-10 col-md-8 bg-dark p-4">
                <div class="row">
                  <div class="col-11">
                    <div class="btn-group center-children mb-4">
                      <button class="btn me-1 @GetOpenDetailsPageClass(true)" 
                          @onclick="(async() => await ShowDetailsClick(true))">
                          Show Server Details
                      </button>
                      <button class="btn me-1 @GetMembersPageClass(true)" 
                          @onclick="(async() => await ShowMembersPage(true))">
                          Show Members
                      </button>
                      <button class="btn me-1 @GetChannelsPageClass(true)" 
                          @onclick="(async() => await ShowChannelsPage(true))">
                          Show Channels
                      </button>
                      <button class="btn @GetCreatePageClass(true)"
                          @onclick="(async() => await ShowCreatePage(true))">
                          Create Channel
                      </button>
                    </div>
                    @if (showServerDetailsPage)
                    {
                      <div>
                          <h2 class="fw-bold text-uppercase">@server.ServerName</h2>
                          <p class="h3 text-break">@server.ServerDescription</p>
                          <p class="h3">@server.DateCreated.ToString("dd/MM/yyyy")</p>
                          <button class="btn btn-outline-warning w-100" @onclick="(() => LoadSelectedServer(server))"
                            data-toggle="modal" data-target="#serverModal">
                              Edit Server
                          </button>
                      </div>
                      <hr />
                      <div class="center-children mt-2">
                          @if (string.IsNullOrWhiteSpace(server.PictureName) is false)
                          {
                              <img src="@CreateWebPath(server.PictureName)"
                                class="img-fluid w-25 h-25 border border-secondary rounded-circle" 
                                alt="@server.OriginalPictureName">
                          }
                          else
                          {
                              <img src="https://dummyimage.com/1200x900/000/ffffff&text=No+image+available." 
                                class="img-fluid w-25 h-25 border border-secondary rounded-circle" 
                                alt="Placeholder Image">
                          }
                      </div>
                      }
                      else if (showServerMembersPage && users is not null)
                      {
                        <div class="row">
                          <div class="col-12">
                            <div class="row mb-4 mt-2">
                              <div class="col-12">
                                  <div class="col-md-8 col-xl-12 btn-group">
                                    <button class="btn text-uppercase fw-bold me-2 @SortedByPriorityClass(false)" 
                                        @onclick="(async() => await PriorityBannedUsers(false))">
                                        Priority - Not Banned
                                    </button>
                                    <button class="btn text-uppercase fw-bold @SortedByPriorityClass(true)" 
                                        @onclick="(async() => await PriorityBannedUsers(true))">
                                        Priority - Banned
                                    </button>
                                </div>
                              </div>
                            </div>
                            <div class="row mb-2">
                              <div class="col-12">
                                <input type="text" placeholder="Search" 
                                    aria-label="Search Box" class="form-control bg-dark text-light input-section border-warning"
                                    @oninput="(async(txt) => await OnSearchInputUser((string)txt.Value))"/>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <Virtualize Items="users" Context="u" OverscanCount="10">
                                  <div class="user-card unclickable bg-black">
                                    <div class="d-flex justify-content-between">
                                        <div class="">
                                          <div class="user-card__name clickable" @onclick="(() => OpenUserDetails(u))">@u.DisplayName</div>
                                          <div class="user-card__friend-code mt-2">Status: @((server.BannedUsers.Any(b => b.Id == u.Id)) ? "Banned" : "Not Banned")</div>
                                          <div class="user-card__friend-code">Friend Code: @u.FriendCode</div>
                                          <div class="user-card__date">Joined on the @u.DateCreated.ToString("dd/MM/yyyy")</div>
                                        </div>
                                        @if (u.Id != loggedInUser.Id)
                                        {
                                            <div class="btn-group" role="group">
                                                <button id="btn-group-settings" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <p><i class="fas fa-cog clickable"></i></p>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="btn-group-settings">
                                                    @if (IsUserBanned(u) is false)
                                                    {
                                                        <button class="dropdown-item text-success" data-toggle="modal" data-target="#userModalCenter" 
                                                            @onclick="(() => selectedUserToKick = u)">
                                                            Kick Member
                                                        </button>
                                                        <button class="dropdown-item text-danger" data-toggle="modal" data-target="#userModalCenter" 
                                                            @onclick="(() => selectedUserToBan = u)">
                                                            Ban Member
                                                        </button>
                                                    }
                                                    else
                                                    {
                                                        <button class="dropdown-item text-success" data-toggle="modal" data-target="#userModalCenter" 
                                                            @onclick="(() => selectedUserToUnban = u)">
                                                            Unban Member
                                                        </button>
                                                    }
                                                </div>
                                            </div>       
                                        }
                                    </div>                          
                                  </div>
                                </Virtualize>
                              </div>
                            </div>
                          </div>
                        </div>
                      }
                      else if (showChannelsPage && channels is not null)
                      {
                        <div class="row">
                          <div class="col-12">
                            <div class="row mb-4 mt-2">
                              <div class="col-12">
                                  <div class="col-md-8 col-xl-12 btn-group">
                                    <button class="btn text-uppercase fw-bold me-2 @SortedByNewClass(true)" 
                                        @onclick="(async() => await SortedByNew(true))">
                                        New
                                    </button>
                                    <button class="btn text-uppercase fw-bold @SortedByNewClass(false)" 
                                        @onclick="(async() => await SortedByNew(false))">
                                        Old
                                    </button>
                                </div>
                              </div>
                            </div>
                            <div class="row mb-2">
                              <div class="col-12">
                                <input type="text" placeholder="Search" 
                                    aria-label="Search Box" class="form-control bg-dark text-light input-section border-warning"
                                    @oninput="(async(txt) => await OnSearchInputChannel((string)txt.Value))"/>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <Virtualize Items="channels" Context="c" OverscanCount="10">
                                  <div class="user-card unclickable bg-black">
                                    <div class="d-flex justify-content-between">
                                        <div class="">
                                          <div class="user-card__name clickable">@c.ChannelName</div>
                                          <div class="user-card__friend-code mt-2">@c.ChannelDescription</div>
                                          <div class="user-card__date">Created on the @c.DateCreated.ToString("dd/MM/yyyy")</div>
                                        </div>
                                        <div class="btn-group" role="group">
                                            <button id="btn-group-settings" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <p><i class="fas fa-cog clickable"></i></p>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="btn-group-settings">
                                                <button class="dropdown-item text-success" data-toggle="modal" data-target="#channelModal" 
                                                    @onclick="(() => LoadSelectedChannel(c))">
                                                    Edit
                                                </button>
                                            </div>
                                        </div>       
                                    </div>                          
                                  </div>
                                </Virtualize>
                              </div>
                            </div>
                          </div>
                        </div>
                      }
                      else if (showCreateChannelPage)
                      {
                        <div class="row">
                            <div class="col-xl-12 col-lg-10">
                                <EditForm Model="channel" OnValidSubmit="(async() => await CreateChannel())">
                                    <DataAnnotationsValidator />
                                    <div class="row">
                                        <div class="mb-3">
                                            <label class="form-label fw-bold text-uppercase" for="channel-name">Channel Name</label>
                                            <div class="mt-1">Name your channel's name</div>
                                            <ValidationMessage For="(() => channel.ChannelName)"/>
                                            <InputText class="form-control bg-dark text-white input-section border-warning" id="channel-name" 
                                                @bind-Value="channel.ChannelName"/>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label fw-bold text-uppercase" for="channel-description">Channel Description</label>
                                            <div class="mt-1">Describe your channel's purpose. What kind of discussion is it related to?</div>
                                            <ValidationMessage For="(() => channel.ChannelDescription)"/>
                                            <InputTextArea class="form-control bg-dark text-white input-section border-warning" id="channel-description"
                                                @bind-Value="channel.ChannelDescription"/>
                                        </div>
                                        <div class="center-children">
                                            <button class="btn btn-outline-warning btn-lg text-uppercase mt-4" type="submit">
                                                Create Channel
                                            </button>
                                        </div>
                                    </div>
                                </EditForm>
                            </div>
                        </div>
                      }
                  </div>
                  <div class="col-1">
                    <div class="close-button-section">
                        <button class="btn btn-close btn-close-white" @onclick="ClosePage"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      }
  }
}
else
{
    <Banned />
}

@code {
    [Parameter]
    public string Id { get; set; }

    private CreateChannelModel channel = new();
    private CreateServerModel editingServer = new();
    private ServerModel server;
    private UserModel loggedInUser;
    private ChannelModel selectedChannel;
    private ServerModel selectedServer;
    private BanModel ban;
    private List<CategoryModel> categories;
    private List<UserModel> users;
    private List<ChannelModel> channels;

    private UserModel selectedUserToKick;
    private UserModel selectedUserToBan;
    private UserModel selectedUserToUnban;

    private string searchText = "";
    private string searchChannelText = "";
    private bool showServerDetailsPage = true;
    private bool showServerMembersPage = false;
    private bool showCreateChannelPage = false;
    private bool showChannelsPage = false;
    private bool priorityBannedUsers = false;
    private bool isSortedByNew = true;

    private long maxFileSize = 1024 * 1024 * 3; // represents 3MB
    private IBrowserFile? file;
    private string errorMessage = "";
    private string fileName = "";
    private string fileExtension = "";

    private string serverNameErrorMessage = "";
    private string serverDescriptionErrorMessage = "";

    protected override async Task OnInitializedAsync()
    {
        categories = await categoryData.GetAllCategoriesAsync();
        loggedInUser = await authProvider.GetUserFromAuth(userData);
        server = await serverData.GetServerAsync(Id);
        if (loggedInUser is not null)
        {
            ban = await banData.GetUserBanActive(loggedInUser.Id);
        }
        if (server is not null)
        {
            users = await userData.GetAllUsersServerAsync(server);
            channels = await channelData.GetAllChannelsServerAsync(server);
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadFilterState();
            if (server is not null)
            {
                await FilterUsers();
                await FilterChannels();
            }
            StateHasChanged();
        }
    }

    private async Task CreateChannel()
    {
        errorMessage = "";

        string objectId = await codeGenerator.GenerateChannelIdentifier();

        ChannelModel c = new()
        {
            ObjectIdentifier = objectId,
            ChannelName = channel.ChannelName,
            ChannelDescription = channel.ChannelDescription,
        };

        await channelData.CreateChannel(c);
        var newChannel = await channelData.GetChannelObjectIdAsync(objectId);
        server.Channels.Add(newChannel);
        await serverData.UpdateServer(server);

        channel = new();
    }

    private async Task UpdateChannel()
    {
        errorMessage = "";

        var c = await channelData.GetChannelAsync(selectedChannel.Id);
        c.ChannelName = channel.ChannelName;
        c.ChannelDescription = channel.ChannelDescription;

        var serverChannel = server.Channels.Where(c => c.Id == selectedChannel.Id).FirstOrDefault();
        serverChannel.ChannelName = c.ChannelName;
        serverChannel.ChannelDescription = c.ChannelDescription;
        await serverData.UpdateServer(server);

        await channelData.UpdateChannel(c);
        selectedChannel = null;
        channel = new();
    }

    private async Task UpdateServer()
    {
        errorMessage = "";
        string relativePath = await CaptureFile();

        server.ServerName = editingServer.ServerName;
        server.ServerDescription = editingServer.ServerDescription;
        server.PictureName = relativePath;
        server.OriginalPictureName = fileName;
        server.PictureExtension = fileExtension;

        await serverData.UpdateServer(server);
        editingServer = new();
        file = null;
    }

    private async Task LoadFilterState()
    {
        var boolResults = await sessionStorage.GetAsync<bool>(nameof(showServerDetailsPage));
        showServerDetailsPage = boolResults.Success ? boolResults.Value : true;
        boolResults = await sessionStorage.GetAsync<bool>(nameof(showServerMembersPage));
        showServerMembersPage = boolResults.Success ? boolResults.Value : false;
        boolResults = await sessionStorage.GetAsync<bool>(nameof(showCreateChannelPage));
        showCreateChannelPage = boolResults.Success ? boolResults.Value : false;
        boolResults = await sessionStorage.GetAsync<bool>(nameof(priorityBannedUsers));
        priorityBannedUsers = boolResults.Success ? boolResults.Value : false;
        boolResults = await sessionStorage.GetAsync<bool>(nameof(showChannelsPage));
        showChannelsPage = boolResults.Success ? boolResults.Value : false;
        var stringResults = await sessionStorage.GetAsync<string>(nameof(searchText));
        searchText = stringResults.Success ? stringResults.Value : "";
        stringResults = await sessionStorage.GetAsync<string>(nameof(searchChannelText));
        searchChannelText = stringResults.Success ? stringResults.Value : "";
    }

    private async Task SaveFilterState()
    {
        await sessionStorage.SetAsync(nameof(showServerDetailsPage), showServerDetailsPage);
        await sessionStorage.SetAsync(nameof(showServerMembersPage), showServerMembersPage);
        await sessionStorage.SetAsync(nameof(showCreateChannelPage), showCreateChannelPage);
        await sessionStorage.SetAsync(nameof(showChannelsPage), showChannelsPage);
        await sessionStorage.SetAsync(nameof(priorityBannedUsers), priorityBannedUsers);
        await sessionStorage.SetAsync(nameof(searchText), searchText);
        await sessionStorage.SetAsync(nameof(searchChannelText), searchChannelText);
    }

    private async Task FilterUsers()
    {
        var output = await userData.GetAllUsersServerAsync(server);
        var bannedUsersId = server.BannedUsers.Select(b => b.Id).ToList();

        if (string.IsNullOrWhiteSpace(searchText) is false)
        {
            output = output.Where(u => u.DisplayName.Contains(
                searchText, StringComparison.InvariantCultureIgnoreCase))
                .ToList();
        }

        if (priorityBannedUsers)
        {
            output = output.OrderByDescending(u => IsUserBanned(u)).ToList();
        }
        else
        {
            output = output.OrderByDescending(
                u => u.DateCreated).ThenByDescending(
                u => !IsUserBanned(u)).ToList();
        }


        users = output;
        await SaveFilterState();
    }

    private async Task FilterChannels()
    {
        var output = await channelData.GetAllChannelsServerAsync(server);

        if (string.IsNullOrWhiteSpace(searchChannelText) is false)
        {
            output = output.Where(
                c => c.ChannelName.Contains(
                    searchChannelText, StringComparison.InvariantCultureIgnoreCase) ||
                c.ChannelDescription.Contains(
                    searchChannelText, StringComparison.InvariantCultureIgnoreCase))
                .ToList();
        }

        if (isSortedByNew)
        {
            output = output.OrderByDescending(c => c.DateCreated).ToList();
        }
        else
        {
            output = output.OrderBy(c => c.DateCreated).ToList();
        }

        channels = output;
        await SaveFilterState();
    }

    private async Task SortedByNew(bool isNew)
    {
        isSortedByNew = isNew;
        await FilterChannels();
    }

    private async Task OnSearchInputChannel(string searchInput)
    {
        searchChannelText = searchInput;
        await FilterChannels();
    }

    private async Task PriorityBannedUsers(bool isPriority)
    {
        priorityBannedUsers = isPriority;
        await FilterUsers();
    }

    private async Task OnSearchInputUser(string searchInput)
    {
        searchText = searchInput;
        await FilterUsers();
    }

    private void LoadSelectedChannel(ChannelModel model)
    {
        selectedChannel = model;
        channel.ChannelName = model.ChannelName;
        channel.ChannelDescription = model.ChannelDescription;
    }

    private void LoadSelectedServer(ServerModel model)
    {
        selectedServer = model;
        editingServer.ServerName = model.ServerName;
        editingServer.ServerDescription = model.ServerDescription;
        editingServer.PictureName = model.PictureName;
    }

    private void CancelClick()
    {
        errorMessage = string.Empty;
        serverNameErrorMessage = string.Empty;
        serverDescriptionErrorMessage = string.Empty;
    }

    private void ClearAllPages()
    {
        showServerDetailsPage = false;
        showServerMembersPage = false;
        showCreateChannelPage = false;
        showChannelsPage = false;
    }

    private async Task ShowDetailsClick(bool isShowing)
    {
        ClearAllPages();
        showServerDetailsPage = isShowing;
        await SaveFilterState();
    }

    private async Task ShowMembersPage(bool isShowing)
    {
        ClearAllPages();
        showServerMembersPage = isShowing;
        await SaveFilterState();
    }

    private async Task ShowCreatePage(bool isShowing)
    {
        ClearAllPages();
        showCreateChannelPage = isShowing;
        await SaveFilterState();
    }

    private async Task ShowChannelsPage(bool isShowing)
    {
        ClearAllPages();
        showChannelsPage = isShowing;
        await SaveFilterState();
    }

    private void ClearSelectedUsers()
    {
        selectedUserToBan = null;
        selectedUserToKick = null;
        selectedUserToUnban = null;
    }

    private async Task KickMember(UserModel user)
    {
        var userToRemove = server.Members.Where(u => u.Id == user.Id).FirstOrDefault();
        server.Members.Remove(userToRemove);

        await serverData.UpdateServer(server);
        ClearSelectedUsers();
    }

    private async Task BanMember(UserModel user)
    {
        var userToBan = server.Members.Where(u => u.Id == user.Id).FirstOrDefault();
        server.BannedUsers.Add(userToBan);

        await serverData.UpdateServer(server);
        ClearSelectedUsers();
    }

    private async Task UnbanMember(UserModel user)
    {
        var userToUnban = server.BannedUsers.Where(u => u.Id == user.Id).FirstOrDefault();
        server.BannedUsers.Remove(userToUnban);

        await serverData.UpdateServer(server);
        ClearSelectedUsers();
    }

    private void ClosePage()
    {
        navManager.NavigateTo($"/Server/{server.Id}");
    }

    private void OpenUserDetails(UserModel user)
    {
        navManager.NavigateTo($"/userDetails/{user.Id}");
    }

    private string CreateWebPath(string relativePath)
    {
        return Path.Combine(config.GetValue<string>("WebStorageRoot"), relativePath);
    }

    private void GetFileExtensionAndFileName()
    {
        fileName = file.Name;
        fileExtension = Path.GetExtension(file.Name);
    }

    private void LoadFiles(InputFileChangeEventArgs e)
    {
        file = e.File;
        GetFileExtensionAndFileName();
    }

    private async Task<string> CaptureFile()
    {
        errorMessage = "";

        if (file is null || loggedInUser is null) return "";

        try
        {
            string newFileName = Path.ChangeExtension(
                Path.GetRandomFileName(),
                Path.GetExtension(file.Name));

            string path = Path.Combine(
                config.GetValue<string>("FileStorage"), 
                loggedInUser.Email, 
                newFileName);

            string relativePath = Path.Combine(loggedInUser.Email, newFileName);

            Directory.CreateDirectory(
                Path.Combine(
                    config.GetValue<string>("FileStorage"), 
                    loggedInUser.Email));

            await using FileStream fs = new(path, FileMode.Create);
            await file.OpenReadStream(maxFileSize).CopyToAsync(fs);

            return relativePath;
        }
        catch (Exception ex)
        {
            errorMessage = $"File: {file.Name} Error: {ex.Message}";
            throw;
        }
    }

    private string SortedByPriorityClass(bool isPriority)
    {
        if (isPriority == priorityBannedUsers)
        {
            return "btn-outline-success";
        }

        return "btn-outline-danger";
    }

    private string GetOpenDetailsPageClass(bool isShowing)
    {
        if (showServerDetailsPage == isShowing)
        {
            return "btn-outline-primary";
        }

        return "btn-outline-danger";
    }

    private string GetMembersPageClass(bool isShowing)
    {
        if (showServerMembersPage == isShowing)
        {
            return "btn-outline-primary";
        }

        return "btn-outline-danger";
    }

    private string GetCreatePageClass(bool isShowing)
    {
        if (showCreateChannelPage == isShowing)
        {
            return "btn-outline-primary";
        }

        return "btn-outline-danger";
    }

    private string GetChannelsPageClass(bool isShowing)
    {
        if (showChannelsPage == isShowing)
        {
            return "btn-outline-primary";
        }

        return "btn-outline-danger";
    }

    private string SortedByNewClass(bool isNew)
    {
        if (isSortedByNew == isNew)
        {
             return "btn-outline-primary";
        }

        return "btn-outline-danger";
    }

    private string GetModalTitleString()
    {
        if (selectedUserToBan is not null)
        {
            return $"Ban {selectedUserToBan.DisplayName}";
        }

        if (selectedUserToKick is not null)
        {
            return $"Kick {selectedUserToKick.DisplayName}";
        }

        return $"Unban {selectedUserToUnban?.DisplayName}";
    }

    private bool IsUserBanned(UserModel user)
    {
        if (server is not null)
        {
            bool IsUserInBannedList = server.BannedUsers.Any(b => b.Id == user.Id);

            if (IsUserInBannedList)
            {
                return true;
            }

            return false;
        }

        return false;
    }
}
