@page "/ServerSettings/Members/{Id}"
@attribute [Authorize]
@inject IServerData serverData
@inject IUserData userData
@inject IRoleData roleData
@inject IBanData banData
@inject IAuditLogData auditLogData
@inject IConfiguration config
@inject IJSRuntime JSRuntime
@inject NavigationManager navManager
@inject AuthenticationStateProvider authProvider
@inject ProtectedSessionStorage sessionStorage

<ModalComponent Id="editRoleModal" Title=@($"Edit {selectedUser?.DisplayName}'s role")>
    <ChildContent>
         <EditForm Model="editingUserRole" OnValidSubmit="(async() => await UpdateUserRole())">
            <DataAnnotationsValidator  />
            <div class="row">
                <div class="mb-3">
                    <label class="form-label fw-bold text-uppercase" for="role-name">@selectedUser?.DisplayName's role</label>
                    <ValidationMessage For="(() => editingUserRole.RoleId)" />
                    <div class="mt-1">Edit @selectedUser?.DisplayName's role</div>
                    <InputRadioGroup id="role" @bind-Value="editingUserRole.RoleId">
                        @if (roles is not null)
                        {
                            <Virtualize Items="roles" Context="r" OverscanCount="10">
                                <div class="radio-item-group">
                                    <InputRadio Value="@r.Id" id="@r.Id"/>
                                    <label for="@r.Id">@r.RoleName - @r.RoleDescription</label>
                                </div>
                            </Virtualize>
                        }
                    </InputRadioGroup>
                </div>
                <div class="center-children">
                    <button class="btn btn-secondary w-100 btn-lg text-uppercase mt-4" type="submit">
                        Edit Role
                    </button>
                </div>
            </div>
        </EditForm>
    </ChildContent>
</ModalComponent>

<ModalComponent Id="userModal" Title=@GetModalTitleString()>
    <ChildContent>
        Are you sure you want to commit these actions?
    </ChildContent>
    <ButtonContent>
        @if (selectedUserToBan is not null)
        {
            <button type="button" 
                class="btn btn-primary" 
                data-dismiss="modal" 
                @onclick="(async() => await BanMember(selectedUserToBan))">
                Ban Member
            </button> 
        }
        else if (selectedUserToKick is not null)
        {
            <button type="button" 
                class="btn btn-primary" 
                data-dismiss="modal" 
                @onclick="(async() => await BanMember(selectedUserToKick))">
                Kick Member
            </button>
        }
        else
        {
            <button type="button" 
                class="btn btn-primary" 
                data-dismiss="modal" 
                @onclick="(async() => await UnbanMember(selectedUserToUnban))">
                Unban Member
            </button>
        }
    </ButtonContent>
</ModalComponent>

@if (ban is null)
{
    @if (HasAnyPermissions())
    {
        <h1 class="page-heading mb-4">@server?.ServerName's Members</h1>

        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-8 bg-dark p-4">
                <div class="row">
                    <div class="col-11">
                        <div class="row">
                            <div class="col-md-8 col-xl-12 btn-group mb-4">
                                <button class="btn text-uppercase fw-bold me-2 @PriorityBannedClass(false)" 
                                    @onclick="(async() => await OnPriorityClick(false))">
                                    PRIORITY - NOT BANNED
                                </button>
                                <button class="btn text-uppercase fw-bold @PriorityBannedClass(true)" 
                                    @onclick="(async() => await OnPriorityClick(true))">
                                    PRIORITY - BANNED
                                </button>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-xl-12">
                                    <input type="text" placeholder="Search" 
                                        aria-label="Search Box" class="form-control bg-dark text-light input-section"
                                        @oninput="(async(txt) => await OnSearchInput((string)txt.Value))"/>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <Virtualize Items="users" Context="u" OverscanCount="10">
                                        <DisplayImgComponent @key="u.Id" 
                                            ImageSource="@u.FileName"
                                            IsClickable="false" 
                                            BodyClass="d-flex justify-content-between"
                                            OpenDetails="(() => OpenUserDetails(u))">
                                            <ChildContent>
                                                <div class="mx-4">
                                                    <h5 class="card-title">@u.DisplayName</h5>
                                                    @if (string.IsNullOrWhiteSpace(GetUserRoleName(u)) is false)
                                                    {
                                                        <p class="card-text mb-1">
                                                            Role: @GetUserRoleName(u)
                                                        </p>    
                                                    }
                                                    <p class="card-text mb-1">
                                                        Status: @((IsUserBanned(u) ? "Banned" : "Active"))
                                                    </p>
                                                    <p class="card-text">
                                                        Date Created: @u.DateCreated.ToString("dd/MM/yyyy")
                                                    </p>
                                                </div>
                                            </ChildContent>
                                            <SettingsContent>
                                                @if (u.Id != loggedInUser.Id)
                                                {
                                                    <div class="btn-group" role="group">
                                                        <button id="btn-group-settings" type="button" 
                                                            class="btn btn-secondary dropdown-toggle" 
                                                            data-toggle="dropdown" 
                                                            aria-haspopup="true" 
                                                            aria-expanded="false">
                                                            <p><i class="fas fa-cog clickable"></i></p>
                                                        </button>
                                                        <div class="dropdown-menu dropdown-menu-dark" 
                                                            aria-labelledby="btn-group-settings">
                                                            @if (IsUserBanned(u) is false && (CanKickMember() || 
                                                                CanBanMember() ||
                                                                CanGiveRole()))
                                                            {
                                                                @if (CanGiveRole())
                                                                {
                                                                    <button class="dropdown-item text-success" 
                                                                        data-toggle="modal" 
                                                                        data-target="#editRoleModal" 
                                                                        @onclick="(() => selectedUser = u)">
                                                                        Give Role
                                                                    </button>         
                                                                }
                                                                @if (CanKickMember())
                                                                {
                                                                    <button class="dropdown-item text-success" 
                                                                        data-toggle="modal" 
                                                                        data-target="#userModal" 
                                                                        @onclick="(() => selectedUserToKick = u)">
                                                                        Kick Member
                                                                    </button>            
                                                                }
                                                                @if (CanBanMember())
                                                                {
                                                                    <button class="dropdown-item text-danger" 
                                                                        data-toggle="modal" 
                                                                        data-target="#userModal" 
                                                                        @onclick="(() => selectedUserToBan = u)">
                                                                        Ban Member
                                                                    </button>        
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <button class="dropdown-item text-success" 
                                                                    data-toggle="modal" 
                                                                    data-target="#userModal" 
                                                                    @onclick="(() => selectedUserToUnban = u)">
                                                                    Unban Member
                                                                </button>
                                                            }
                                                        </div>
                                                    </div>     
                                                }                    
                                            </SettingsContent>
                                        </DisplayImgComponent>
                                    </Virtualize>
                                </div>
                            </div>
                        </div>            
                    </div>
                    <div class="col-1">
                        <div class="close-button-section">
                            <button class="btn btn-close btn-close-white" @onclick="ClosePage"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <NotAuthorized />
    }
}
else
{
    <Banned />
}



