@page "/ServerSettings/{Id}"
@attribute [Authorize]
@inject IServerData serverData
@inject IUserData userData
@inject ICategoryData categoryData
@inject IChannelData channelData
@inject IBanData banData
@inject IRoleData roleData
@inject IAuditLogData auditLogData
@inject IConfiguration config
@inject NavigationManager navManager
@inject AuthenticationStateProvider authProvider
@inject ProtectedSessionStorage sessionStorage
@inject IJSRuntime JSRuntime

 <ModalComponent Id="serverModal" Title=@($"Edit {server?.ServerName}") FooterClass="justify-content-between">
    <ChildContent>
        <EditForm Model="editingServer" OnValidSubmit="(async() => await UpdateServer())">
        <DataAnnotationsValidator  />
        <div class="row">
            <div class="mb-3">
                <label class="form-label fw-bold text-uppercase" for="server-name">Server Name</label>
                <div class="mt-1">Edit your server's name</div>
                <ValidationMessage For="(() => editingServer.ServerName)"/>
                <InputText class="form-control bg-dark text-white input-section" id="server-name" 
                    @bind-Value="editingServer.ServerName"/>
            </div>
            <div class="mb-3">
                <label class="form-label fw-bold text-uppercase" for="server-icon">Server Icon</label>
                <div class="mt-1">Select an image for your server. This is not required.</div>
                <ValidationMessage For="(() => editingServer.PictureName)"/>
                <InputFile OnChange="LoadFiles"
                    class="form-control bg-dark text-light input-section"
                    accept=".png,.jpg,.jpeg"/>
            </div>
            <div class="mb-3">
                <label class="form-label fw-bold text-uppercase" for="category">Category</label>
                <ValidationMessage For="(() => editingServer.CategoryId)" />
                <div class="mt-1">Choose a category that suits your server's brand.</div>
                <InputRadioGroup id="category" @bind-Value="editingServer.CategoryId">
                    @if (categories is not null)
                    {
                        <Virtualize Items="categories" Context="c" OverscanCount="10">
                            <div class="radio-item-group">
                                <InputRadio Value="@c.Id" id="@c.Id"/>
                                <label for="@c.Id">@c.CategoryName - @c.CategoryDescription</label>
                            </div>
                        </Virtualize>
                    }
                </InputRadioGroup>
            </div>
            <div class="mb-3">
                <label class="form-label fw-bold text-uppercase" for="server-description">Server Description</label>
                <div class="mt-1">Describe your channel's purpose. What kind of discussion is it related to?</div>
                <ValidationMessage For="(() => editingServer.ServerDescription)"/>
                <InputTextArea class="form-control bg-dark text-white input-section" id="server-description"
                    @bind-Value="editingServer.ServerDescription"/>
            </div>
            <div class="center-children">
                <button class="btn btn-secondary btn-lg text-uppercase mt-4" type="submit">
                    Update
                </button>
            </div>
        </div>
    </EditForm>
    </ChildContent>
    <ButtonContent>
        <button type="button" 
            class="btn btn-outline-warning" 
            @onclick="ClearPicture">
            Clear Picture
        </button>
        @if (archivingServer is null)
        {
            <button type="button" 
                class="btn btn-outline-danger" 
                @onclick="(() => archivingServer = server)">
                Archive
            </button>       
        }
        else
        {
            <div class="btn-group">
                <button type="button" 
                    class="btn btn-outline-success" 
                    @onclick="ArchiveServer">
                    Archive
                </button>
                <button type="button" 
                    class="btn btn-outline-danger" 
                    @onclick="(() => archivingServer = null)">
                    Cancel
                </button>       
            </div>
        }
    </ButtonContent>
</ModalComponent>

@if (ban is null)
{
  <h1 class="page-heading mb-4">@server?.ServerName Settings</h1>

  @if (HasAnyPermission() is false)
  {
    <NotAuthorized />
  }
  else
  {
      @if (server is not null)
      {
        <div class="rounded rounded-3">
          <div class="card-body">
            <div class="row justify-content-center">
              <div class="col-lg-10 col-md-8 bg-dark p-4">
                <div class="row">
                  <div class="col-2">
                      <div class="dropdown w-100 mb-4">
                          <button class="btn btn-secondary dropdown-toggle w-100" type="button" id="open-details-dropdown"
                              data-toggle="dropdown" 
                              aria-haspopup="true" 
                              aria-expanded="false">
                            Open Members
                          </button>
                          <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="open-details-dropdown">
                            <a class="dropdown-item" @onclick="OpenMembersPage">Members</a>
                          </div>
                      </div>
                      <div class="dropdown w-100 mb-4">
                          <button class="btn btn-secondary dropdown-toggle w-100" type="button" id="open-details-dropdown"
                              data-toggle="dropdown" 
                              aria-haspopup="true" 
                              aria-expanded="false">
                            Open Categories
                          </button>
                          <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="open-details-dropdown">
                            <a class="dropdown-item" @onclick="OpenCategoriesPage">Categories</a>
                            @if (CanCreateChannel())
                            {
                                <a class="dropdown-item" @onclick="OpenCreateCategoryPage">Create Category</a>              
                            }
                          </div>
                      </div>
                      <div class="dropdown w-100 mb-4">
                          <button class="btn btn-secondary dropdown-toggle w-100" type="button" id="open-details-dropdown"
                              data-toggle="dropdown" 
                              aria-haspopup="true" 
                              aria-expanded="false">
                            Open Channels
                          </button>
                          <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="open-details-dropdown">
                            <a class="dropdown-item" @onclick="OpenChannelsPage">Channels</a>
                          </div>
                      </div>
                       <div class="dropdown w-100 mb-4">
                          <button class="btn btn-secondary dropdown-toggle w-100" type="button" id="open-details-dropdown"
                              data-toggle="dropdown" 
                              aria-haspopup="true" 
                              aria-expanded="false">
                            Open Roles
                          </button>
                          <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="open-details-dropdown">
                            <a class="dropdown-item" @onclick="OpenRolesPage">Roles</a>
                            @if (CanCreateRole())
                            {
                                <a class="dropdown-item" @onclick="OpenCreateRolePage">Create Role</a>          
                            }
                          </div>
                      </div>
                       <div class="dropdown w-100 mb-4">
                          <button class="btn btn-secondary dropdown-toggle w-100" type="button" id="open-details-dropdown"
                              data-toggle="dropdown" 
                              aria-haspopup="true" 
                              aria-expanded="false">
                            Open Audit Logs
                          </button>
                          <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="open-details-dropdown">
                            @if (CanViewAuditLog())
                            {
                                <a class="dropdown-item" @onclick="OpenAuditLogsPage">Audit Logs</a>             
                            }
                          </div>
                      </div>
                  </div>
                  <div class="col-9">
                    <div>
                        <div class="center-children mt-2">
                            @if (string.IsNullOrWhiteSpace(server.PictureName) is false)
                            {
                                <img src="@CreateWebPath(server.PictureName)"
                                class="img-fluid border rounded-circle" 
                                alt="@server.OriginalPictureName"
                                style="width: 300px; height: 300px;">
                            }
                            else
                            {
                                <img src="https://dummyimage.com/1200x900/000/ffffff&text=No+image+available." 
                                class="img-fluid rounded-circle"
                                alt="Placeholder Image"
                                style="width: 300px; height: 300px;">
                            }
                        </div>
                        <h2 class="fw-bold text-uppercase text-center text-break">@server.ServerName</h2>
                        <p class="text-break text-center">@server.ServerDescription</p>
                        <p class="text-break text-center">@server.Category.CategoryName</p>
                        <p class="text-center">@server.DateCreated.ToString("dd/MM/yyyy")</p>
                        <button class="btn btn-secondary w-100" data-toggle="modal" data-target="#serverModal">
                            Edit Server
                        </button>
                    </div>
                  </div>
                  <div class="col-1">
                    <div class="close-button-section">
                        <button class="btn btn-close btn-close-white" @onclick="ReturnSettings"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      }
  }
}
else
{
    <Banned />
}


