@page "/ServerSettings/AuditLogs/{Id}"
@attribute [Authorize]
@inject IUserData userData
@inject IAuditLogData auditLogData
@inject IServerData serverData
@inject IRoleData roleData
@inject IBanData banData
@inject IJSRuntime JSRuntime
@inject NavigationManager navManager
@inject AuthenticationStateProvider authProvider
@inject ProtectedSessionStorage sessionStorage


@if (ban is null)
{
    @if (HasAnyPermission())
    {
        <h1 class="page-heading mb-4">@server?.ServerName's Audit Logs</h1>

        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-8 bg-dark p-4">
                <div class="row">
                    <div class="col-11">
                        <div class="row mb-4 mt-2">
                            <div class="col-12">
                                <div class="col-md-8 col-xl-12 btn-group">
                                    <button class="btn text-uppercase fw-bold me-2 @SortedByNewClass(true)" 
                                        @onclick="(async() => await SortedByNew(true))">
                                        New
                                    </button>
                                    <button class="btn text-uppercase fw-bold @SortedByNewClass(false)" 
                                        @onclick="(async() => await SortedByNew(false))">
                                        Old
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-12">
                                <input type="text" placeholder="Search" 
                                    aria-label="Search Box" class="form-control bg-dark text-light input-section"
                                    @oninput="(async(txt) => await OnSearchInput((string)txt.Value))"/>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12">
                                <Virtualize Items="auditLogs" Context="a" OverscanCount="10">
                                    <DisplayComponent @key="a.Id" IsClickable="false">
                                        <ChildContent>
                                            <h5 class="card-title fw-bold">@a.Name</h5>
                                            <p class="card-text">
                                                @a.Description
                                            </p>
                                            @if (string.IsNullOrWhiteSpace(a.OldValues) is false)
                                            {
                                                <p class="card-text">
                                                    <span class="text-danger">Old values:</span>
                                                    @a.OldValues
                                                </p>     
                                            }
                                            @if (string.IsNullOrWhiteSpace(a.NewValues) is false)
                                            {
                                                <p class="card-text">
                                                    <span class="text-danger">New values:</span>
                                                    @a.NewValues
                                                </p>         
                                            }
                                            <p class="card-text">
                                                Date Modified: @a.DateModified.ToString("dd/MM/yyyy")
                                            </p>
                                        </ChildContent>
                                    </DisplayComponent>
                                </Virtualize>
                            </div>
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="close-button-section">
                            <button class="btn btn-close btn-close-white" @onclick="ClosePage"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <NotAuthorized />
    }
}
else
{
    <Banned />
}


