@page "/ServerSettings/Categories/{Id}"
@attribute [Authorize]
@inject IUserData userData
@inject IRoleData roleData
@inject IChannelCategoryData channelCategoryData
@inject IServerData serverData
@inject IBanData banData
@inject IAuditLogData auditLogData
@inject IJSRuntime JSRuntime
@inject NavigationManager navManager
@inject AuthenticationStateProvider authProvider
@inject ProtectedSessionStorage sessionStorage

<ModalComponent Id="categoryModal" Title=@($"Edit {selectedCategory?.CategoryName}") FooterClass="justify-content-between">
    <ChildContent>
        <EditForm Model="editingCategory" OnValidSubmit="(async() => await UpdateCategory())">
            <DataAnnotationsValidator />
            <div class="row">
                <div class="mb-3">
                    <label class="form-label fw-bold text-uppercase" for="category-name">Category Name</label>
                    <div class="mt-1">Edit your category's name</div>
                    <ValidationMessage For="(() => editingCategory.CategoryName)"/>
                    <InputText class="form-control bg-dark text-white input-section" id="category-name" 
                        @bind-Value="editingCategory.CategoryName"/>
                </div>
                <div class="mb-3">
                    <label class="form-label fw-bold text-uppercase" for="category-description">Category Description</label>
                    <div class="mt-1">Edit your category's purpose. What kind of discussion is it related to?</div>
                    <ValidationMessage For="(() => editingCategory.CategoryDescription)"/>
                    <InputTextArea class="form-control bg-dark text-white input-section" id="category-description"
                        @bind-Value="editingCategory.CategoryDescription"/>
                </div>
                <div class="center-children">
                    <button class="btn btn-secondary w-100 btn-lg text-uppercase mt-4" type="submit">
                        Update
                    </button>
                </div>
            </div>
        </EditForm>
    </ChildContent>
    <ButtonContent>
        @if (archivingCategory is null)
        {
            <button type="button" 
                class="btn btn-outline-danger"
                @onclick="(() => archivingCategory = selectedCategory)">
                Archive
            </button>
        }
        else
        {
            <div class="btn-group">
                <button type="button" 
                    class="btn btn-outline-danger"
                    @onclick="ArchiveCategory">
                    Archive
                </button>
                <button type="button" 
                    class="btn btn-outline-danger"
                    @onclick="(() => archivingCategory = null)">
                    Cancel
                </button>
            </div>
        }
    </ButtonContent>
</ModalComponent>

@if (ban is null)
{
    @if (HasAnyPermissions())
    {
        <h1 class="page-heading mb-4">@server?.ServerName's Categories</h1>

        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-8 bg-dark p-4">
                <div class="row">
                    <div class="col-11">
                        <div class="row mb-4 mt-2">
                            <div class="col-12">
                                <div class="col-md-8 col-xl-12 btn-group">
                                    <button class="btn text-uppercase fw-bold me-2 @SortedByNewClass(true)" 
                                        @onclick="(async() => await SortedByNew(true))">
                                        New
                                    </button>
                                    <button class="btn text-uppercase fw-bold @SortedByNewClass(false)" 
                                        @onclick="(async() => await SortedByNew(false))">
                                        Old
                                    </button>
                                </div>
                            </div>
                            <div class="row mb-2 mt-4">
                                <div class="col-12">
                                    <input type="text" placeholder="Search" 
                                        aria-label="Search Box" class="form-control bg-dark text-light input-section"
                                        @oninput="(async(txt) => await OnSearchInput((string)txt.Value))"/>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <Virtualize Items="categories" Context="c" OverscanCount="10">
                                        <DisplayComponent @key="c.Id" IsClickable="false" BodyClass="d-flex justify-content-between">
                                            <ChildContent>
                                                <h5 class="card-title">@c.CategoryName</h5>
                                                <p class="card-text">
                                                    @c.CategoryDescription
                                                </p>
                                                <p class="card-text">
                                                    Date Created: @c.DateCreated.ToString("dd/MM/yyyy")
                                                </p>
                                            </ChildContent>
                                            <SettingsContent>
                                                @if (CanCreateChannel())
                                                {
                                                    <div class="btn-group" role="group">
                                                        <button id="btn-group-settings" type="button" 
                                                            class="btn btn-secondary dropdown-toggle" 
                                                            data-toggle="dropdown" 
                                                            aria-haspopup="true" 
                                                            aria-expanded="false">
                                                            <p><i class="fas fa-cog clickable"></i></p>
                                                        </button>
                                                        <div class="dropdown-menu dropdown-menu-dark" 
                                                                aria-labelledby="btn-group-settings">
                                                            <button class="dropdown-item text-success" 
                                                                data-toggle="modal" 
                                                                data-target="#categoryModal"
                                                                @onclick="(() => LoadSelectedCategory(c))">
                                                                Edit
                                                            </button>
                                                        </div>
                                                    </div>
                                                }
                                            </SettingsContent>
                                        </DisplayComponent>
                                    </Virtualize>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="close-button-section">
                            <button class="btn btn-close btn-close-white" @onclick="ClosePage"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <NotAuthorized />
    }
}
else
{
    <Banned />
}

@code {
    [Parameter]
    public string Id { get; set; }

    private CreateChannelCategoryModel editingCategory = new();

    private ServerModel server;
    private UserModel loggedInUser;
    private BanModel ban;
    private ChannelCategoryModel selectedCategory;
    private ChannelCategoryModel archivingCategory;
    private RoleModel role;
    private List<ChannelCategoryModel> categories;

    private string searchText = "";
    private bool isSortedByNew = true;

    protected override async Task OnInitializedAsync()
    {
        server = await serverData.GetServerAsync(Id);
        loggedInUser = await authProvider.GetUserFromAuth(userData);
        if (server is not null)
        {
            categories = await channelCategoryData.GetServerCategoriesAsync(server);
        }
        if (loggedInUser is not null)
        {
            ban = await banData.GetUserBanActive(loggedInUser.Id);
        }
        if (loggedInUser is not null && server is not null)
        {
            role = await roleData.GetUserServerRoleAsync(loggedInUser, server);
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadFilterState();
            if (server is not null)
            {
                await FilterChannelCategories();
            }
            StateHasChanged();
        }
    }

    private async Task LoadFilterState()
    {
        var boolResults = await sessionStorage.GetAsync<bool>(nameof(isSortedByNew));
        isSortedByNew = boolResults.Success ? boolResults.Value : true;
        var stringResults = await sessionStorage.GetAsync<string>(nameof(searchText));
        searchText = stringResults.Success ? stringResults.Value : "";
    }

    private async Task SaveFilterState()
    {
        await sessionStorage.SetAsync(nameof(isSortedByNew), isSortedByNew);
        await sessionStorage.SetAsync(nameof(searchText), searchText);
    }

    private async Task FilterChannelCategories()
    {
        var output = await channelCategoryData.GetServerCategoriesAsync(server);

        if (string.IsNullOrWhiteSpace(searchText) is false)
        {
            output = output.Where(
                c => c.CategoryName.Contains(
                    searchText, StringComparison.InvariantCultureIgnoreCase) ||
                c.CategoryDescription.Contains(
                    searchText, StringComparison.InvariantCultureIgnoreCase))
                .ToList();
        }

        if (isSortedByNew)
        {
            output = output.OrderByDescending(c => c.DateCreated).ToList();
        }
        else
        {
            output = output.OrderBy(c => c.DateCreated).ToList();
        }

        categories = output;
        await SaveFilterState();
    }

    private async Task OnSearchInput(string searchInput)
    {
        searchText = searchInput;
        await FilterChannelCategories();
    }

    private async Task SortedByNew(bool isNew)
    {
        isSortedByNew = isNew;
        await FilterChannelCategories();
    }

    private async Task CloseModal()
    {
        await JSRuntime.InvokeVoidAsync("closeModal", "categoryModal");
    }

    private async Task UpdateCategory()
    {
        string oldCategoryName = selectedCategory.CategoryName;
        string oldCategoryDescription = selectedCategory.CategoryDescription;

        selectedCategory.CategoryName = editingCategory.CategoryName;
        selectedCategory.CategoryDescription = editingCategory.CategoryDescription;

        AuditLogModel a = new()
        {
            Name = "Update Channel",
            Description = $"{loggedInUser.DisplayName} has updated channel {oldCategoryName} to {selectedCategory.CategoryName}",
            OldValues = $"Channel Name: {oldCategoryName}, Channel Description: {oldCategoryName}",
            NewValues = $"Channel Name: {selectedCategory.CategoryName}, Channel Description: {selectedCategory.CategoryDescription}",
            User = new BasicUserModel(loggedInUser),
            Server = server,
            DateModified = DateTime.UtcNow,
        };

        await channelCategoryData.UpdateCategory(selectedCategory);
        await auditLogData.CreateAuditLog(a);
        selectedCategory = null;
        editingCategory = new();
        await CloseModal();
    }

    private async Task ArchiveCategory()
    {
        archivingCategory.Archived = true;
        await channelCategoryData.UpdateCategory(archivingCategory);
        categories.Remove(categories.FirstOrDefault(c => c.Id == archivingCategory.Id));
        await CloseModal();
    }

    private void ClosePage()
    {
        navManager.NavigateTo($"/ServerSettings/{server.Id}");
    }

    private void OpenDetails(ChannelCategoryModel model)
    {
        navManager.NavigateTo($"/ServerSettings/ChannelCategory/{model.Id}");
    }

    private void LoadSelectedCategory(ChannelCategoryModel model)
    {
        selectedCategory = model;
        editingCategory.CategoryName = model.CategoryName;
        editingCategory.CategoryDescription = model.CategoryDescription;
    }

    private string SortedByNewClass(bool isNew)
    {
        if (isSortedByNew == isNew)
        {
            return "btn-secondary";
        }

        return "btn-outline-secondary";
    }

    private bool IsUserOwner()
    {
        if (loggedInUser is null || server is null)
        {
            return false;
        }

        if (loggedInUser.Id == server.Owner.Id)
        {
            return true;
        }

        return false;
    }


    private bool CanCreateChannel()
    {
        if (IsUserOwner())
        {
            return true;
        }

        if (role is not null && role.CanCreateChannel)
        {
            return true;
        }

        return false;
    }

    private bool HasAnyPermissions()
    {
        if (IsUserOwner())
        {
            return true;
        }

        if (CanCreateChannel())
        {
            return true;
        }

        return false;
    }
}
