@page "/conversation/{Id}"
@attribute [Authorize]
@using Microsoft.AspNetCore.SignalR.Client;
@inject IConversationData conversationData
@inject IUserData userData
@inject IMessageData messageData
@inject IConfiguration config
@inject NavigationManager navManager
@inject ProtectedSessionStorage sessionStorage
@inject AuthenticationStateProvider authProvider
@implements IAsyncDisposable

<h1 class="text-uppercase fw-bold text-center">@conversation?.GroupName</h1>

@if (string.IsNullOrWhiteSpace(errorMessage) is false)
{
    <div class="row justify-content-center">
        <div class="col-lg-10 col-md-8">
            <div class="row alert bg-warning text-black" role="alert">
                <div class="col-11">
                    <h4 class="alert-heading">Error!</h4>
                    <p>@errorMessage</p>
                    <hr>
                    <p class="mb-0">You can wait to send another friend request later if you think this is a mistake.</p>
                </div>
                <div class="col-1">
                    <div class="close-button-section">
                        <button class="btn btn-close btn-close" @onclick="(() => errorMessage = string.Empty)" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@if (loggedInUser is not null && conversation is not null)
{
    @if (conversation.Participants.Any(p => p.Id == loggedInUser.Id) is false)
    {
        <NotAuthorized />
    }
    else
    {
        <div class="container-fluid vh-100 d-flex flex-column">
          <div class="row flex-grow-1">
            <div class="col-md-8 col-xl-10 messages-container">
              @if (messages is not null)
              {
                <Virtualize Items="messages" Context="m" OverscanCount="10">
                  @if (chosenMessage is null || chosenMessage.Id != m.Id)
                  {
                        <div class="message @((chosenMessage is not null && chosenMessage.Id == m.Id) ? "editing text-dark" : "bg-dark") @((m.Sender.Id == loggedInUser?.Id) ? "self" : "")">
                            <div class="message-sender">@m.Sender.DisplayName</div>
                            <div class="message-text">@m.Text</div>
                            @if (string.IsNullOrWhiteSpace(m.FileName) is false)
                            {
                                @if (m.FileExtension == ".png" || m.FileExtension == ".jpg" || m.FileExtension == ".jpeg")
                                {
                                    <div class="text-center">
                                        <img class="img-fluid w-25 h-25" src="@CreateWebPath(m.FileName)" alt="@m.OriginalFileName" />
                                    </div>
                                }
                                else
                                {
                                    <div class="message-text">
                                        <a class="link-warning" href="@CreateWebPath(m.FileName)" download="@m.OriginalFileName">
                                            @m.OriginalFileName
                                        </a>
                                    </div>
                                }
                            }
                            <div class="message-timestamp mb-1">Sent at: @m.Timestamp.ToString("dd-MM-yyyy HH:mm") UTC</div>
                            @if (m.Timestamp.ToString("dd-MM-yyyy HH:mm") != m.LastEdited.ToString("dd-MM-yyyy HH:mm"))
                            {
                              <div class="message-timestamp mb-1">Edited on: @m.LastEdited.ToString("dd-MM-yyyy HH:mm") UTC</div>
                            }
                            @if (m.Sender.Id == loggedInUser?.Id)
                            {
                              <div class="btn-group">
                                <button class="btn btn-outline-danger" @onclick="(() => OnMessageClick(m))">Edit</button>
                              </div>
                            }
                      </div>
                  }
                  else
                  {
                       <div class="message @((chosenMessage is not null && chosenMessage.Id == m.Id) ? "editing text-dark" : "bg-dark") @((m.Sender.Id == loggedInUser?.Id) ? "self" : "")">
                            <div class="message-sender">@m.Sender.DisplayName</div>
                            <InputText @bind-Value="@editingMessageText" class="message-text">@m.Text</InputText>
                            @if (string.IsNullOrWhiteSpace(m.FileName) is false)
                            {
                                @if (m.FileExtension == ".png" || m.FileExtension == ".jpg" || m.FileExtension == ".jpeg")
                                {
                                    <div class="text-center">
                                        <img class="img-fluid w-25 h-25" src="@CreateWebPath(m.FileName)" alt="@m.OriginalFileName"/>
                                    </div>
                                }
                                else
                                {
                                    <div class="message-text">
                                        <a class="link-warning" href="@CreateWebPath(m.FileName)" download="@m.OriginalFileName">
                                            @m.OriginalFileName
                                        </a>
                                    </div>
                                }
                            }
                            <div class="message-timestamp mb-1">Sent at: @m.Timestamp.ToString("dd-MM-yyyy HH:mm") UTC</div>
                            @if (m.Timestamp.ToString("dd-MM-yyyy HH:mm") != m.LastEdited.ToString("dd-MM-yyyy HH:mm"))
                            {
                              <div class="message-timestamp mb-1">Edited on: @m.LastEdited.ToString("dd-MM-yyyy HH:mm") UTC</div>
                            }
                            @if (m.Sender.Id == loggedInUser?.Id)
                            {
                              <div class="btn-group">
                                <button class="btn btn-success me-1" @onclick="(() => UpdateMessage())">Save</button>
                                <button class="btn btn-danger" @onclick="(() => ArchiveMessage())">Archive</button>
                              </div>
                            }
                      </div>
                  }
                </Virtualize>
                <div class="messages-mb" />
              }
            </div>
            <div class="col-md-4 col-xl-2">
                @if (loggedInUser?.Id == conversation?.Owner.Id)
                {
                    <div class="bg-dark p-2 mb-2">
                        <h3>Settings</h3>
                        <button class="btn btn-outline-warning w-100 mb-2" @onclick="(() => SettingsPage(conversation))">
                            Edit
                        </button>
                    </div>
                }
                <div class="participants-list p-2">
                    <h3 class="fw-bold text-uppercase">Participants</h3>
                    <button class="btn btn-outline-warning w-100 mb-2" @onclick="(() => InviteFriendPage(conversation))">Invite</button>
                    <ul class="list-group">
                        @foreach (var p in conversation?.Participants)
                        {
                            if (chosenUser is null || chosenUser.Id != p.Id)
                            {
                                <li class="list-group-item mb-2">
                                    <span class="oi oi-person me-1"></span><span class="clickable" @onclick="(() => UserDetailsPage(p))">@p.DisplayName</span>
                                    @if (loggedInUser.Id != p.Id)
                                    {
                                        <button class="btn btn-primary btn-sm float-end" @onclick="(() => chosenUser = p)">Remove</button>
                                    }
                                </li>
                            }
                            else
                            {
                                <li class="list-group-item mb-2">
                                    <span class="oi oi-person me-1"></span><span class="clickable" @onclick="(() => UserDetailsPage(p))">@p.DisplayName</span>
                                    <div class="btn-group-sm float-end">
                                        <button class="btn btn-success me-1" @onclick="(async() => await RemoveParticipant())">Remove</button>
                                        <button class="btn btn-danger" @onclick="(() => chosenUser = null)">Cancel</button>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
          </div>
          <div class="row fixed-bottom mb-4 mx-2">
            <div class="col-xl-12 col-lg-12">
              <div class="row">
                <div class="col-8">
                  <input type="text" placeholder="Message @conversation?.GroupName" aria-label="Message Box"
                    class="form-control bg-dark text-light input-section border-warning" @bind-value="messageText" />  
                </div>
                <div class="col-2">
                  <InputFile OnChange="LoadFiles" 
                    class="form-control bg-dark text-light input-section border-warning"
                    accept=".png,.jpg,.jpeg,.txt,.pdf"/>
                </div>
                <div class="col-2">
                  <button class="btn btn-outline-warning form-control" @onclick="SendMessage" disabled="@(IsConnected is false)">Send</button>
                </div>
              </div>
            </div>
          </div>
        </div>
    }
}

@code {
    [Parameter]
    public string Id { get; set; }

    private HubConnection? hubConnection;

    private string messageText = "";
    private string editingMessageText = "";
    private string searchText = "";
    private bool isSortedByNew = true;
    private ConversationModel conversation;
    private List<MessageModel> messages;
    private UserModel loggedInUser;
    private MessageModel chosenMessage;
    private BasicUserModel chosenUser;

    private long maxFileSize = 1024 * 1024 * 3; // represents 3MB
    private IBrowserFile? file;
    private string errorMessage = "";
    private string fileName = "";
    private string fileExtension = "";

    protected override async Task OnInitializedAsync()
    {
        conversation = await conversationData.GetConversationAsync(Id);
        if (conversation is not null)
        {
            messages = await messageData.GetConversationMessagesAsync(conversation);
        }

        loggedInUser = await authProvider.GetUserFromAuth(userData);

        hubConnection = new HubConnectionBuilder()
            .WithUrl(navManager.ToAbsoluteUri("/chathub"))
            .WithAutomaticReconnect()
            .Build();

        hubConnection.On<MessageModel>("ReceiveMessage", OnReceiveMessage);

        await hubConnection.StartAsync();
        await hubConnection.InvokeAsync("JoinConversation", conversation);
    }

    private void OnReceiveMessage(MessageModel message)
    {
        messages.Add(message);
        InvokeAsync(StateHasChanged);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadFilterState();
            await FilterMessages();
            StateHasChanged();
        }
    }

    private async Task LoadFilterState()
    {
        var stringResults = await sessionStorage.GetAsync<string>(nameof(searchText));
        searchText = stringResults.Success ? stringResults.Value : "";
        stringResults = await sessionStorage.GetAsync<string>(nameof(messageText));
        messageText = stringResults.Success ? stringResults.Value : "";

        var boolResults = await sessionStorage.GetAsync<bool>(nameof(isSortedByNew));
        isSortedByNew = boolResults.Success ? boolResults.Value : true;
    }

    private async Task SaveFilterState()
    {
        await sessionStorage.SetAsync(nameof(searchText), searchText);
        await sessionStorage.SetAsync(nameof(messageText), messageText);
        await sessionStorage.SetAsync(nameof(isSortedByNew), isSortedByNew);
    }

    private async Task FilterMessages()
    {
        var output = new List<MessageModel>();

        if (conversation is not null)
        {
            await messageData.GetConversationMessagesAsync(conversation);
        }

        if (string.IsNullOrWhiteSpace(searchText) is false)
        {
            output = output.Where(m => m.Text.Contains(
                searchText, StringComparison.InvariantCultureIgnoreCase))
                .ToList();
        }

        if (isSortedByNew)
        {
            output = output.OrderByDescending(c => c.Timestamp).ToList();
        }
        else
        {
            output = output.OrderBy(c => c.Timestamp).ToList();
        }

        messages = output;
        await SaveFilterState();
    }

    private async Task SendMessage()
    {
        try
        {
            errorMessage = "";

            if (string.IsNullOrWhiteSpace(messageText)) return;
            
            string relativePath = await CaptureFile();

            MessageModel message = new()
            {
                Sender = new BasicUserModel(loggedInUser),
                Text = messageText,
                FileName = relativePath,
                OriginalFileName = fileName,
                FileExtension = fileExtension,
                Receivers = conversation.Participants,
                Conversation = conversation,
                Archived = false,
            };

            await messageData.CreateMessage(message);

            if (hubConnection is not null)
            {
                await hubConnection.InvokeAsync("SendMessage", message, conversation);
            }

            messageText = "";
            file = null;
            fileName = string.Empty;
            fileExtension = string.Empty;
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
    }

    private async Task UpdateMessage()
    {
        if (chosenMessage.Text == editingMessageText)
        {
            chosenMessage = null;
            return;
        }

        chosenMessage.Text = editingMessageText;
        chosenMessage.LastEdited = DateTime.UtcNow;
        await messageData.UpdateMessageAsync(chosenMessage);
        chosenMessage = null;
    }

    private async Task RemoveParticipant()
    {
        conversation.Participants.Remove(chosenUser);
        await conversationData.UpdateConversation(conversation);
        chosenUser = null;
    }

    private async Task ArchiveMessage()
    {
        messages.Remove(chosenMessage);
        chosenMessage.Archived = true;
        await messageData.UpdateMessageAsync(chosenMessage);
        chosenMessage = null;
    }

    private async Task OrderByNew(bool isNew)
    {
        isSortedByNew = isNew;
        await FilterMessages();
    }

    private async Task OnSearchInput(string searchInput)
    {
        searchText = searchInput;
        await FilterMessages();
    }

    private void OnMessageClick(MessageModel message)
    {
        chosenMessage = message;
        editingMessageText = message.Text;
    }

    private void ClosePage()
    {
        navManager.NavigateTo("/");
    }

    public bool IsConnected => hubConnection?.State == HubConnectionState.Connected; // ? says if not null

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.StopAsync();
            await hubConnection.DisposeAsync();
        }
    }

    private void InviteFriendPage(ConversationModel conversation)
    {
        navManager.NavigateTo($"/InviteFriend/{conversation.Id}");
    }

    private void UserDetailsPage(BasicUserModel user)
    {
        navManager.NavigateTo($"/userDetails/{user.Id}");
    }

    private void SettingsPage(ConversationModel conversation)
    {
        navManager.NavigateTo($"/UpdateConversation/{conversation.Id}");
    }

    private string CreateWebPath(string relativePath)
    {
        return Path.Combine(config.GetValue<string>("WebStorageRoot"), relativePath);
    }

    private void GetFileExtensionAndFileName(InputFileChangeEventArgs e)
    {
        fileName = string.Empty;
        fileExtension = string.Empty;

        fileName = file.Name;
        fileExtension = Path.GetExtension(file.Name);
    }

    private void LoadFiles(InputFileChangeEventArgs e)
    {
        file = e.File;
        GetFileExtensionAndFileName(e);
    }

    private async Task<string> CaptureFile()
    {
        errorMessage = "";

        if (file is null || loggedInUser is null) return "";

        try
        {
            string newFileName = Path.ChangeExtension(
                Path.GetRandomFileName(),
                Path.GetExtension(file.Name));

            string path = Path.Combine(
                config.GetValue<string>("FileStorage"), 
                loggedInUser.DisplayName, 
                newFileName);

            string relativePath = Path.Combine(loggedInUser.DisplayName, newFileName);

            Directory.CreateDirectory(
                Path.Combine(
                    config.GetValue<string>("FileStorage"), 
                    loggedInUser.DisplayName));

            await using FileStream fs = new(path, FileMode.Create);
            await file.OpenReadStream(maxFileSize).CopyToAsync(fs);

            return relativePath;
        }
        catch (Exception ex)
        {
            errorMessage = $"File: {file.Name} Error: {ex.Message}";
            throw;
        }
    }
}
