@inject IConfiguration config
@inject NavigationManager navManager

<div class="card bg-dark border-white clickable mb-4" @onclick="OpenDetails">
    <div class="row g-0">
        <div class="col-md-1">
            <div class="p-1">
                @if (string.IsNullOrWhiteSpace(BanAppeal.AppealingUser.FileName) is false)
                {
                    <div class="text-center p-3">
                        <img src="@CreateWebPath(BanAppeal.AppealingUser.FileName)" 
                            class="card-img-top rounded-circle" 
                            alt="@BanAppeal.AppealingUser.FileName"
                            style="width: 100px; height: 100px;">
                    </div>
                }
                else
                {
                    <div class="text-center p-3">
                        <img src="https://dummyimage.com/1200x900/000/ffffff&text=No+image+available." 
                            class="card-img-top rounded-circle" 
                            alt="Placeholder Image"
                            style="width: 100px; height: 100px;">
                    </div>
                }
            </div>
        </div>
        <div class="col-md-11 align-content-center">
            <div class="card-body">
                <h5 class="card-title h4">@BanAppeal.AppealingUser.DisplayName</h5>
                <div class="card-text text-danger h4">
                    Status: @((BanAppeal.IsApproved ? $"Approved" : "Pending"))
                </div>
                @if (BanAppeal.ApprovedAdmin is not null)
                {
                    <div class="card-text">
                        Disapproved By: @BanAppeal.ApprovedAdmin.DisplayName on @BanAppeal.ApprovedAt.ToString("dd/MM/yyyy HH:mm")
                    </div>
                }
                @if (BanAppeal.DisapprovedAdmin is not null)
                {
                    <div class="card-text">
                        Disapproved By: @BanAppeal.DisapprovedAdmin.DisplayName on @BanAppeal.DisapprovedAt.ToString("dd/MM/yyyy HH:mm")
                    </div>
                }
                <div class="card-text">
                    Date Created: @BanAppeal.SubmittedAt.ToString("dd/MM/yyyy")
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    [EditorRequired]
    public BanAppealModel BanAppeal { get; set; }

    private string CreateWebPath(string relativePath)
    {
        return Path.Combine(config.GetValue<string>("WebStorageRoot"), relativePath);
    }

    private void OpenDetails()
    {
        navManager.NavigateTo($"/BanAppealDetails/{BanAppeal.Id}");
    }
}
