@inject IConfiguration config

<div class="card bg-dark border-white clickable @ParentClass @ClickableClass() mb-4"
    @onclick="OnClickEvent">
    <div class="row g-0">
        <div class="col-md-1">
            <div class="p-1">
                @if (string.IsNullOrWhiteSpace(ImageSource) is false)
                {
                    <div class="text-center p-3 @ImageClass()" @onclick="OpenDetails">
                        <img src="@CreateWebPath()" 
                            class="card-img-top rounded-circle" 
                            alt="@ImageSource"
                            style="width: 100px; height: 100px;">
                    </div>
                }
                else
                {
                    <div class="text-center p-3 @ImageClass()" @onclick="OpenDetails">
                        <img src="https://dummyimage.com/1200x900/000/ffffff&text=No+image+available." 
                            class="card-img-top rounded-circle" 
                            alt="Placeholder Image"
                            style="width: 100px; height: 100px;">
                    </div>
                }
            </div>
        </div>
        <div class="col-md-11 @BodyClass">
            <div class="card-body" @onclick="OpenDetails">
                @ChildContent
            </div>
            @SettingsContent
        </div>
    </div>
</div>



