@inject IJSRuntime JSRuntime
@inject IConfiguration config
@inject IMessageData messageData
@inject IRoleData roleData
@inject IServerData serverData
@inject NavigationManager navManager


<ModalComponent Id=@($"messageModal-{Message.Id}") Title=@($"Edit {Message.Text}") FooterClass="justify-content-between">
    <ChildContent>
        <EditForm Model="model" OnValidSubmit="(async() => await UpdateMessage())">
            <DataAnnotationsValidator />
            <div class="row">
                <div class="mb-3">
                    <label class="form-label fw-bold text-uppercase" for="message-text">Message Text</label>
                    <div class="mt-1">Edit your message</div>
                    <ValidationMessage For="(() => model.Text)"/>
                    <InputText class="form-control bg-dark text-white input-section" id="message-text" 
                        @bind-Value="model.Text"/>
                </div>
                <div class="mb-3">
                    <label class="form-label fw-bold text-uppercase" for="message-file">Insert your message file</label>
                    <div class="mt-1 mb-2">
                        <div>Select a file you want to associate with the message.</div>
                        <div class="text-danger">Leave blank to leave previous file.</div>
                    </div>
                    <ValidationMessage For="(() => model)"/>
                    <InputFile OnChange="LoadFiles"
                        class="form-control bg-dark text-white input-section" 
                        id="message-file"
                        accept=".png,.jpg,.jpeg,.txt,.pdf"/>
                </div>
                <div class="center-children">
                    <button class="btn btn-secondary w-100 btn-lg text-uppercase mt-4" 
                            type="submit">
                        Update
                    </button>
                </div>
            </div>
        </EditForm>
    </ChildContent>
    <ButtonContent>
        <button type="button" 
                class="btn btn-outline-danger"
                @onclick="ArchiveMessage">
            Archive
        </button>
    </ButtonContent>
</ModalComponent>

<div class="message bg-dark @((Message.Sender.Id == LoggedInUser.Id) ? "self" : "")">
    <div class="d-flex justify-content-between">
        <div>
            <div class="message-sender">@Message.Sender.DisplayName</div>
            <div class="message-text text-break fs-5">@Message.Text</div>
            <div class="message-timestamp mb-1">
                Sent at: @Message.Timestamp.ToString("dd-MM-yyyy HH:mm") UTC
                @if (Message.Sender.Id != LoggedInUser.Id)
                {
                    <span class="text-warning">@((UserHasReadMessage()) ? "Read" : "Not Read")</span>
                }
            </div>
            @if (Message.Timestamp.ToString("dd-MM-yyyy HH:mm") != Message.LastEdited.ToString("dd-MM-yyyy HH:mm"))
            {
                <div class="message-timestamp mb-1">Edited on: @Message.LastEdited.ToString("dd-MM-yyyy HH:mm") UTC</div>
            }
            @if (Message.ServerInvitation is not null)
            {
                <div class="card bg-dark clickable border-white">
                    <div class="row g-0">
                        <div class="col-lg-1">
                            <div class="p-1">
                                @if (string.IsNullOrWhiteSpace(Message.ServerInvitation.PictureName) is false)
                                {
                                    <div class="text-center p-3">
                                        <img src="@CreateWebPath(Message.ServerInvitation.PictureName)" 
                                            class="card-img-top rounded-circle clickable" 
                                            alt="@Message.ServerInvitation.OriginalPictureName"
                                            style="width: 100px; height: 100px;">
                                    </div>
                                }
                                else
                                {
                                    <div class="text-center p-3">
                                        <img src="https://dummyimage.com/1200x900/000/ffffff&text=No+image+available." 
                                            class="card-img-top rounded-circle clickable" 
                                            alt="Placeholder Image"
                                            style="width: 100px; height: 100px;">
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="col-lg-11">
                            <div class="card-body">
                                <h5 class="card-title text-end">@Message.ServerInvitation.ServerName</h5>
                                <p class="card-text text-end">
                                    @Message.ServerInvitation.ServerDescription
                                </p>
                                <p class="card-text text-end">
                                    Date Created: @Message.ServerInvitation.DateCreated.ToString("dd/MM/yyyy")
                                </p>
                            </div>
                        </div>
                        <div class="p-2">
                            @if (IsUserBanned(Message.ServerInvitation) is false)
                            {
                                @if (IsUserInServer(Message.ServerInvitation) is false)
                                {
                                    <button class="btn btn-outline-secondary w-100" 
                                        @onclick="(async() => await JoinServer(Message.ServerInvitation))">
                                        Join Server
                                    </button>
                                }
                                else
                                {
                                    <button class="btn btn-outline-secondary w-100 mb-2" 
                                        @onclick="(() => OpenDetails(Message.ServerInvitation))">
                                        Check out
                                    </button>
                                }
                            }
                            else
                            {
                                <button class="btn btn-outline-danger w-100" disabled>You are currently Banned</button>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="btn-group" role="group">
            <button id="btn-group-settings" 
                type="button" class="btn btn-secondary dropdown-toggle" 
                data-toggle="dropdown" 
                aria-haspopup="true" 
                aria-expanded="false">
                <p><i class="fas fa-cog clickable"></i></p>
            </button>
            <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="btn-group-settings">
                @if (Message.Sender.Id == LoggedInUser.Id)
                {
                    <button class="dropdown-item text-success" 
                        data-toggle="modal" 
                        data-target="#messageModal-@Message.Id">
                        Edit
                    </button>
                }
                @if (Message.Sender.Id != LoggedInUser.Id && UserHasReadMessage() is false)
                {
                    <button class="dropdown-item text-warning"
                        @onclick="MarkAsRead">
                        Mark As Read
                    </button>
                }
            </div>
        </div>       
    </div>
    @if (string.IsNullOrWhiteSpace(Message.FileName) is false)
    {
        @if (Message.FileExtension == ".png" || Message.FileExtension == ".jpg" || Message.FileExtension == ".jpeg")
        {
            <div class="d-flex justify-content-start">
                <img class="img-fluid" 
                    src="@CreateWebPath(Message.FileName)" 
                    alt="@Message.OriginalFileName" 
                    style="width: 350px; height: 350px;"/>
            </div>
        }
        else
        {
            <div class="message-text">
                <a class="link-warning" href="@CreateWebPath(Message.FileName)" download="@Message.OriginalFileName">
                    @Message.OriginalFileName
                </a>
            </div>
        }
    }
</div>


@code {
    [Parameter]
    [EditorRequired]
    public MessageModel Message { get; set; }

    [Parameter]
    [EditorRequired]
    public UserModel LoggedInUser { get; set; }

    [Parameter]
    [EditorRequired]
    public List<MessageModel> NonReadMessages { get; set; }

    [Parameter]
    [EditorRequired]
    public List<MessageModel> Messages { get; set; }

    [Parameter]
    public EventCallback<MessageModel> RequestChanged { get; set; }

    private CreateMessageModel model = new();
    private long maxFileSize = 1024 * 1024 * 3; // represents 3MB
    private IBrowserFile? file;
    private string errorMessage = "";
    private string fileName = "";
    private string fileExtension = "";

    protected override void OnInitialized()
    {
        model.Text = Message.Text;
    }

    private string CreateWebPath(string relativePath)
    {
        return Path.Combine(config.GetValue<string>("WebStorageRoot"), relativePath);
    }

    private void GetFileExtensionAndFileName()
    {
        fileName = file.Name;
        fileExtension = Path.GetExtension(file.Name);
    }

    private void LoadFiles(InputFileChangeEventArgs e)
    {
        file = e.File;
        GetFileExtensionAndFileName();
    }

    private async Task<string> CaptureFile()
    {
        errorMessage = "";

        if (file is null || LoggedInUser is null) return "";

        try
        {
            string newFileName = Path.ChangeExtension(
                Path.GetRandomFileName(),
                Path.GetExtension(file.Name));

            string path = Path.Combine(
                config.GetValue<string>("FileStorage"), 
                LoggedInUser.Email, 
                newFileName);

            string relativePath = Path.Combine(LoggedInUser.Email, newFileName);

            Directory.CreateDirectory(
                Path.Combine(
                    config.GetValue<string>("FileStorage"), 
                    LoggedInUser.Email));

            await using FileStream fs = new(path, FileMode.Create);
            await file.OpenReadStream(maxFileSize).CopyToAsync(fs);

            return relativePath;
        }
        catch (Exception ex)
        {
            errorMessage = $"File: {file.Name} Error: {ex.Message}";
            throw;
        }
    }

    private async Task CloseModal(MessageModel message)
    {
        await JSRuntime.InvokeVoidAsync("closeModal", $"messageModal-{message.Id}");
    }

    private async Task UpdateMessage()
    {
        string relativePath = await CaptureFile();
        string oldFileName = Message.FileName;
        string oldOriginalFile = Message.OriginalFileName;
        string oldExtension = Message.FileExtension;

        Message.Text = model.Text;
        Message.LastEdited = DateTime.UtcNow;
        if (file is not null)
        {
            Message.FileName = relativePath;
            Message.OriginalFileName = fileName;
            Message.FileExtension = fileExtension;
        }
        else
        {
            Message.FileName = oldFileName;
            Message.OriginalFileName = oldOriginalFile;
            Message.FileExtension = oldExtension;
        }

        await messageData.UpdateMessageAsync(Message);
        model = new();
        file = null;

        await RequestChanged.InvokeAsync(Message);
        await CloseModal(Message);
    }

    private async Task MarkAsRead()
    {
        Message.ReadBy.Add(new BasicUserModel(LoggedInUser));
        await messageData.UpdateMessageAsync(Message);
        NonReadMessages.Remove(Message);
        await RequestChanged.InvokeAsync(Message);
    }

    private async Task ArchiveMessage()
    {
        Message.Archived = true;
        await messageData.UpdateMessageAsync(Message);
        Messages.Remove(Message);
        await RequestChanged.InvokeAsync(Message);
        await CloseModal(Message);
    }

    private async Task JoinServer(ServerModel server)
    {
        var user = new BasicUserModel(LoggedInUser);
        var role = await roleData.GetServerMemberRoleAsync(server);

        role.Users.Add(user);
        var serverRole = await roleData.GetServerMemberRoleAsync(server);
        serverRole.Users.Add(user);
        await roleData.UpdateRole(role);
        await roleData.UpdateRole(serverRole);

        server.Members.Add(user);
        await serverData.UpdateServer(server);
        OpenDetails(server);
    }

    private void OpenDetails(ServerModel server)
    {
        navManager.NavigateTo($"/Server/{server.Id}");
    }

    private bool UserHasReadMessage()
    {
        var user = Message.ReadBy.FirstOrDefault(u => u.Id == LoggedInUser.Id);

        if (user is not null)
        {
            return true;
        }

        return false;
    }

    private bool IsUserBanned(ServerModel server)
    {
        bool IsUserInBannedList = server.BannedUsers.Any(b => b.Id == LoggedInUser?.Id);

        if (IsUserInBannedList)
        {
            return true;
        }

        return false;
    }

    private bool IsUserInServer(ServerModel server)
    {
        if (server.Owner.Id == LoggedInUser?.Id || server.Members.Any(m => m.Id == LoggedInUser?.Id))
        {
            return true;
        }

        return false;
    }
}
